html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * formContainer
 * Container styling for wherever the form is supposed to go
 */
/**
 * contentContainer
 */
@font-face {
  font-family: 'AlternateGothic';
  src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AlternateGotNo2D.eot?v=1436817133000");
  src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AlternateGotNo2D.eot?v=1436817133000") format("embedded-opentype"), url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AlternateGotNo2D.woff?v=1436817139000") format("woff"), url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AlternateGotNo2D.svg?v=1436817136000") format("svg");
  font-weight: normal;
  font-style: normal;
}
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.hero {
  position: relative;
  overflow: hidden;
  background: #fff;
  height: 500px;
}

.page-title {
  color: #fff;
  position: relative;
  z-index: 30;
}

.hero-text {
  color: #fff;
  position: relative;
  z-index: 30;
}

.hero-content {
  max-width: 600px;
}

@media screen and (min-width: 992px) {
  .hero img {
    height: auto;
    width: 100%;
  }

  .hero-image {
    position: absolute;
    width: 90%;
    top: 0px;
  }

  .hero-side-image {
    position: absolute;
    width: 90%;
    top: 0;
    left: 100%;
    margin-left: -80px;
  }

  .hero-content {
    position: absolute;
    bottom: 65px;
    left: 80px;
  }
}
@media screen and (min-width: 992px) {
  .campaign {
    padding-right: 445px;
    padding-left: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media screen and (min-width: 2100px) {
  .campaign {
    padding-right: 665px;
    padding-left: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (min-width: 992px) {
  .col-form {
    margin-top: 105px;
  }
}

.form {
  background: #aed100;
}
@media screen and (max-width: 767px) {
  .form {
    position: fixed;
    width: 100%;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .form {
    position: fixed;
    top: 0;
    right: 0;
    width: 435px;
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .page-title {
    border-top: 5px solid #5d8200;
    background-color: #313131;
    height: 100px;
  }
}

.page-footer {
  background-color: #313131;
}

/*# sourceMappingURL=app.css.map */
