html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

#gr_giving .secure-form {
  background: none;
  border: none;
  color: #939598;
  font-size: 11px;
  position: absolute;
  top: 22px;
  right: 20px;
  font-style: normal;
  z-index: 10;
  border-radius: 4px;
}
#gr_giving .secure-form:hover {
  cursor: pointer;
}
#gr_giving .secure-form span.lock img {
  width: 10px;
  position: relative;
  top: -1px;
  margin-right: 2px;
}
#gr_giving div.radiobutton label {
  background-color: transparent;
  background-image: linear-gradient(#f5f5f5 0%, #cecece 100%);
  color: #888;
  font-weight: normal;
}
#gr_giving div.radiobutton input[type='radio']:hover:not(:checked) ~ label {
  color: #888;
}
#gr_giving div.radiobutton input[type='radio']:checked ~ label {
  color: #222;
}

.popover {
  width: 400px;
}

#deteailsStep h3, #paymentStep h3 {
  color: #535456;
  text-align: center;
  font-size: 16px;
  margin: 5px 0px 20px;
}

.mod-button {
  padding: 0px;
  margin: -10px 0px 0px;
}
.mod-button a {
  margin: 0px;
  font-size: 10px;
}
.mod-button a:hover {
  text-decoration: underline;
  color: #666;
}

#gr_donation {
  position: relative;
}
#gr_donation h2, #gr_donation h3 {
  color: #535456;
  font-size: 13px;
}
#gr_donation h2 {
  text-align: center;
  font-size: 16px;
  margin: 5px;
}
#gr_donation .levels label {
  background-color: #CECECE;
  background-image: linear-gradient(#f5f5f5 0%, #cecece 100%);
  color: #313131;
}
#gr_donation .levels label:hover {
  background-color: #B2B2B2;
  background-image: linear-gradient(#f5f5f5 10%, #cecece 50%);
  color: #313131;
}
#gr_donation .levels input[type='radio']:checked + label {
  background: #21633d;
  color: #fff;
  cursor: default;
}

#gr_details, #gr_payment {
  background: #aed100;
  border-radius: 0 0 15px 15px;
}

#gr_details input.eaSubmitButton {
  margin-top: 20px;
  width: 100%;
  display: block;
}
#gr_details select {
  padding-right: 0;
}

#donation-ranges {
  display: none;
}

.popover-content {
  width: 100%;
}

.eaFormField {
  position: relative;
}
.eaFormField .glyphicon {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -7px;
}
.eaFormField input {
  padding-right: 36px;
}

.easplit .glyphicon {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -11px;
}

.no-padding {
  padding: 0;
}

.steps-list {
  position: relative;
}
.steps-list ul {
  list-style: none;
  margin: 0;
  padding: 0 0 25px;
  text-align: left;
  font-size: 0;
}
.steps-list ul li {
  color: #313131;
  background: #bcbec0;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 9px 10px 10px;
  text-align: center;
  position: relative;
  padding-left: 1px;
}
.steps-list ul li.current, .steps-list ul li.active {
  background: #bad80a;
  border: none;
  color: #313131;
}
.steps-list ul li span {
  color: #313131;
  font-size: 14px;
  position: absolute;
  left: -5px;
  top: 100%;
  width: 36px;
}

.top-wrap {
  border-radius: 15px 15px 0 0;
  position: relative;
  z-index: 2;
}

.giving-security {
  background: #21633d;
  color: #fff;
  padding: 15px;
}

.text-field {
  background: #535456;
  padding: 10px 20px;
  margin: 0 -10px;
  position: relative;
  z-index: 1;
}
.text-field h2 {
  color: #ffc550;
  text-align: left;
  line-height: 1.2em;
  font-size: 22px;
  margin: 0;
  padding: 5px 0px 10px;
}
.text-field:before, .text-field:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid #636466;
  border-left: 10px solid transparent;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.text-field:after {
  left: auto;
  right: 0;
  border-left: none;
  border-right: 10px solid transparent;
}

#guarantee {
  margin-top: 10px;
  background: #ef4236;
  overflow: hidden;
}
#guarantee .guarantee {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ef4236;
}
#guarantee .guarantee h3, #guarantee .guarantee p {
  color: #ffffff;
  font-size: 18px;
  padding: 0px;
  margin: 0px 0px 10px;
}
#guarantee .guarantee p {
  font-size: 14px;
}
#guarantee .guarantee h3 {
  font-size: 24px;
}
#guarantee .guarantee span.quote {
  color: #fac1bf;
  font-size: 11px;
}
#guarantee .guarantee blockquote {
  margin-top: 30px;
  padding-top: 5px;
  color: white;
}

.go-back {
  color: #939598;
  display: inline-block;
  margin: 12px 0;
}
.go-back:hover {
  color: #939598;
  text-decoration: none;
}

.mobile-logo {
  width: 100%;
}

#gr_donation form {
  display: block;
}

.lt-ie9 #gr_giving label, .ie9 #gr_giving label {
  display: inline-block;
}

#Credit_Card_Verification_ValueField input {
  padding-right: 12px;
}

@media only screen and (max-width: 1200px) {
  #gr_giving .contain {
    max-width: 374px;
  }

  #gr_content {
    padding: 10px 20px 50px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #gr_giving .contain {
    max-width: 345px;
  }

  #gr_header {
    min-height: 200px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  ul {
    padding-left: 1em;
  }

  .mob-but-wrap {
    position: fixed;
  }

  .scroll .mobile-logo {
    margin-bottom: 54px;
  }

  #gr_header {
    background: none;
    min-height: 0;
    margin-top: 53px;
  }

  #gr_giving {
    display: none;
  }
  #gr_giving .contain {
    margin: 0;
    position: fixed;
    max-width: 100%;
    left: 0;
    top: 0;
    height: 100%;
  }
  #gr_giving .contain .top-wrap,
  #gr_giving .contain #window article.page,
  #gr_giving .contain #gr_details form > div {
    border-radius: 0;
  }
  #gr_giving .slider-wrap {
    background: #f1eeed;
    padding-top: 60px;
    position: absolute;
    bottom: 0;
    height: 100%;
  }

  .text-field {
    display: none;
  }

  .text-field h2 {
    font-size: 20px;
  }

  #window {
    height: 100%;
  }
  #window article.page {
    margin: 0;
    height: 100%;
    overflow-y: auto;
  }

  .mobile-button {
    display: inline-block;
  }

  #gr_content {
    padding: 10px 20px 10px;
  }
  #gr_content h1, #gr_content h2 {
    font-size: 20px;
    line-height: 21px;
  }
  #gr_content h1 span, #gr_content h2 span {
    font-size: 30px;
  }
  #gr_content p {
    font-size: 14px;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select:focus {
    font-size: 16px;
  }
}
@media only screen and (max-height: 768px) and (min-width: 768px) {
  #gr_giving .contain {
    position: absolute;
  }
}
body {
  overflow-x: hidden;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

/**
 * formContainer
 * Container styling for wherever the form is supposed to go
 */
.affix {
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
}

/**
 * contentContainer
 */
@font-face {
  font-family: 'DagnyOT-Light';
  src: url("../fonts/DagnyOT-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'DagnyOT';
  src: url("../fonts/DagnyOT.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'DagnyOT-Bold';
  src: url("../fonts/DagnyOT-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.hero {
  position: relative;
  overflow: hidden;
  background: #fff;
  height: 100%;
}

.page-title {
  color: #fff;
  position: relative;
  z-index: 30;
}

.hero-text {
  color: #fff;
  position: relative;
  z-index: 30;
}

.hero-content {
  max-width: 600px;
}

@media screen and (min-width: 992px) {
  .hero {
    height: 500px;
    background: url(../img/hero-bg.jpg);
    background-size: cover;
  }

  .heroTitle {
    font-family: "DagnyOT-light";
    font-weight: 200;
    font-style: normal;
    padding: 100px 20% 0 20%;
    position: relative;
    color: #fff;
    font-size: 30px;
    line-height: 34px;
  }
  .heroTitle strong, .heroTitle em {
    font-family: "DagnyOT-Bold";
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }
  .heroTitle em {
    color: #cccc00;
  }

  .heroCaption, .financialCaption {
    font-size: 10px;
    font-family: 'DagnyOT';
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 10px 15px;
  }

  .hero-image {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0px;
  }

  .hero-image img {
    right: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
  }

  .hero-side-image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 100%;
    margin-left: -80px;
  }

  .hero-content {
    position: absolute;
    bottom: 65px;
    left: 80px;
  }

  html.csstransforms {
    z-index: 30;
  }

  .hero-image img {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate(-50%, -50%, 0);
  }
}
@media screen and (min-width: 992px) {
  .campaign {
    padding-right: 350px;
    padding-left: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media screen and (min-width: 2100px) {
  .campaign {
    padding-right: 650px;
    padding-left: 30px;
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media screen and (min-width: 992px) {
  .campaignText-wrapper {
    background-color: #0cacbd;
    color: #aed100;
    padding: 150px 15%;
    height: 250px;
    position: relative;
  }

  .campaignText-main {
    font-family: "DagnyOT-light";
    font-weight: 200;
    font-style: normal;
    font-size: 43px;
  }

  .highlightsText-wrapper {
    position: relative;
    padding: 100px 50px;
    min-height: 250px;
  }

  .highlights-title {
    float: left;
    padding-right: 30px;
  }

  .highlights-title--number {
    font-family: "DagnyOT-Bold";
    font-weight: 700;
    font-style: normal;
    font-size: 200px;
    color: #aed100;
    line-height: 90px;
    display: block;
  }

  .highlights-title--text {
    font-family: "DagnyOT-light";
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 150px;
  }

  .highlights-subtitle {
    font-family: "DagnyOT-Bold";
    font-weight: 700;
    font-style: normal;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #0cacbd;
  }

  .highlights-year {
    font-family: "DagnyOT-Bold";
    font-weight: 700;
    font-style: normal;
  }

  .highlights-events {
    font-family: 'DagnyOT';
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
  }

  .highlights-cta {
    font-family: 'DagnyOT';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: #cc3300;
    padding: 20px 20px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    color: #fff;
    display: inline;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto 5px auto;
    text-transform: uppercase;
    width: 560px;
  }

  .financialText-wrapper {
    position: relative;
    height: 400px;
    background: url("../img/financial-bg.jpg");
    background-size: cover;
    padding: 100px 20px;
  }
  .financialText-wrapper img {
    width: 821.5px;
    height: 401.5px;
  }

  .supportersText-wrapper {
    background-color: #257488;
  }
  .supportersText-wrapper h4 {
    font-family: "DagnyOT-light";
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    padding: 15px 20px;
    text-transform: uppercase;
    background-color: #0cacbd;
    color: #fff;
  }
  .supportersText-wrapper .profile-photo {
    float: left;
    width: 40%;
  }
  .supportersText-wrapper .profile-photo img {
    width: 361px;
    height: 375px;
  }
  .supportersText-wrapper .profile-description {
    font-family: 'DagnyOT';
    font-weight: 400;
    font-style: normal;
    width: 40%;
    color: #fff;
    float: left;
    padding: 20px 15px;
  }
  .supportersText-wrapper .profile-description .supporter-name {
    font-family: "DagnyOT-Bold";
    font-weight: 700;
    font-style: normal;
    font-size: 43px;
  }
  .supportersText-wrapper .profile-description .supporter-caption {
    font-family: "DagnyOT-light";
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .supportersText-wrapper .profile-description .supporter-description {
    font-size: 18px;
  }
}
.navbar-stepcontainer {
  padding-left: 60px;
}

.form {
  z-index: 90;
}
@media screen and (max-width: 767px) {
  .form {
    position: fixed;
    width: 100%;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .form {
    position: absolute;
    top: 105px;
    right: 0;
    width: 350px;
    height: 100%;
  }
}

form {
  background: #aed100;
}

.form-navbar {
  background: url("../img/transparent-flag.png");
  width: 432px;
  height: 53px;
}

.form-header {
  padding: 30px;
}
.form-header h3 {
  font-family: "DagnyOT-Bold";
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
}
.form-header em {
  text-transform: none;
  color: #21633d;
}

@media screen and (min-width: 992px) {
  .page-header {
    width: 100%;
    border-top: 5px solid #5d8200;
    background-color: #313131;
    height: 100px;
  }

  .page-title {
    width: 250px;
    height: 63px;
    padding: 15px 0px 15px 100px;
  }
}
.page-footer {
  background-color: #313131;
  padding: 80px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: bolder;
  color: #d6ccaf;
  height: 200px;
}

.footer-legal {
  float: left;
  width: 50%;
  text-transform: uppercase;
}
.footer-legal .logo {
  width: 250px;
  height: 62.5px;
  padding-bottom: 10px;
}
.footer-legal .accreditation {
  margin-top: 20px;
}

.footer-links {
  float: left;
  width: 50%;
  margin-top: 27px;
}
.footer-links a {
  text-decoration: none;
}
.footer-links a:visited {
  color: #709202;
}

.footer-links--main {
  font-size: 16px;
  display: inline-block;
  color: #709202;
  text-transform: uppercase;
}
.footer-links--main li {
  display: inline-block;
  margin-right: 11px;
}

.footer-links--secondary a {
  text-transform: uppercase;
  color: #d6ccaf;
}
.footer-links--secondary a:visited {
  color: #d6ccaf;
}
.footer-links--secondary li {
  display: inline-block;
}

/*# sourceMappingURL=app.css.map */
