$xlight-green: #d3e090;
$vlight-green: #c8e03b;
$mlight-green: #cccc00;
$light-green: #bad80a;

$green: #aed100;
$brand-green: #709202;
$dark-green: #5d8200;
$vdark-green: #21633d;

$turquoise: #0cacbd;
$dark-turquoise: #257488;
$navy-blue: #336699;

$beige: #d6ccaf;
$dark-beige: #958f72;

$vdark-red: #861214;
$dark-red: #cc3300;
$light-red: #a0151b;

$white: #fff;
$vlight-grey: #edf0ea;
$indicator-light-grey: #d5d6d9;
$indicator-dark-grey: #cdcdcd;
$light-grey: #bcbec0;
$grey: #6e6f71;
$vdark-grey: #313131;
$black: #000;

$modal-overlay-opacity: 0.65;
$text-colour: $vdark-grey;

//-----------
//sections
//-----------

//text
$content-overlap-xs: 20px;
$content-overlap-sm: 20px;
$content-overlap-md: 20px;
$content-overlap-xl: 30px;

//Header
$header-bgcolour: $vdark-grey;
$header-height-xxs: 76px;
$header-height-xs: 80px;
$header-height-sm: 105px;
$header-height-md: 105px;
$header-height-xl: 205px;
$header-padding: 15px 0 15px 5%;

// Page Title
$pagetitle-height-xs: 42px;
$pagetitle-height-base: 62px;
$pagetitle-height-xl: 124px;

$pagetitle-marginleft-xs: 50px;
$pagetitle-marginleft-base: 70px;


$pagetitle-img-base: url('../img/ecojustice.png');
$pagetitle-img-xl: url('../img/ecojustice.svg');

//Hero
$hero-background: $white;
$hero-bgimage: url(../img/hero-bg.jpg);
$hero-bgimage-xl: url(../img/herobgimage-xl.jpg);
$heroTitle-padding: 16% 20% 23% 16%;
$hero-captionpadding-md: 10px 15px;

//Campaign
$campaignText-wrapper: 13% 15%;
$campaign-paddingtop-md: 30px;
$campaign-height-md: 250px;

//Highlights
$highlights-margin-xs: 0px 10px 5px 10px;
$highlights-margin-md: 0px 30px 5px 10px;
$highlights-margin-xl: 0px 40px 10px 10px;
$highlights-margintop-xs: 20px;
$highlights-marginbottom-sm: 50px;

$highlightsText-padding-sm: 14% 4.5%;
$highlightsText-padding-md: 10% 4.5% 5% 4.5%;
$highlightsText-padding-xs: 14% 4.5% 5% 4.5%;
$highlights-titlepadding-lg: 0 30px 0 0;


//Financial
$financial-height-md: 400px;
$financialText-padding-sm: 5%;
$financialText-padding-xs: 10%;
$financialText-padding-md: 5%;

$financial-bgimage: url("../img/financial-bg.jpg");
$financial-chart1: url("../img/allocation1-2x.png");
$financial-chart2: url("../img/allocation2-2x.png");


//Supporters
$supportersText-height-md: 400px;
$supportersHeader-padding-md: 15px 20px;
$supporterPicture-height-md: 300px;
$supporterProfile-padding-md: 0px 0px 60px 0px;

//form
$form-navbar-bgimage: url("../img/transparent-flag.png");
$form-navbar-bgimage-xl: url("../img/transparent-flagxl.svg");
$form-width-xxs: 300px;
$form-width-xs: 300px;
$form-width-sm: 400px;
$form-width-md: 435px;
$form-width-xl: 650px;
$form-background: $green;
$form-padding: 30px;

$steps_colour: $vdark-grey;
$steps_background: $light-grey;
$steps_advancedBackground: linear-gradient($indicator-light-grey 40%, $indicator-dark-grey 60%);
$steps_border: none;
$stepsActive_background: $light-green;
$stepsActive_advancedBackground: linear-gradient($stepsActive_background 40%, $green 60%);
$stepsActive_border: none;
$stepsActive_colour: $vdark-grey;
$stepsActive_arrowBackground: $green;



//footer
$footer-padding-xs: 40px;
$footer-padding-md: 80px;
$footer-height-md: 200px;
$footer-logoheight-base: 62.5px;
$footer-logowidth-base: 250px;
$footer-logowidth-xl: 500px;
$footer-logoheight-xl: ($footer-logoheight-base * 2);
$footer-logowidth-xl: ($footer-logowidth-base * 2);

//-----------
//screen sizes
//-----------
$screen-sm: 768px;
$screen-md: 1160px;
$screen-lg: 1300px;
$screen-xl: 2100px;

$screen-xxs-max: 619px;
$screen-xs-min: 620px;
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);

//spacing
$page-left-padding-md: 80px;
$page-right-padding-md: 80px;
$page-text-max-width: 600px;
