$yellow: #fecf50;
$blue: #5e82ac;
$dark-grey: #676d76;
$light-grey: #545a63;
$orange: #e8361b;
$green: #1d4d28;
$white: #fff;
$primary-colour: $dark-grey;
$action-colour: $orange;

//spacing
$page-left-padding-md: 80px;
$page-right-padding-md: 80px;
$page-text-max-width: 600px;