$orange: #df5f1e;
$yellow: #e18e25;
$green: #245e36;
$purple: #782266;
$dark-red: #c31e24;
$red: #a7233b;
$magenta: #792266;
$maroon: #a6223c;
$menu-red: #C5272D;


//rethink colors
$brand-primary: #f45e90; // pink
$brand-secondary: #b1a99e; // light gray
$brand-tertiary: #231f20; // dark brown

//ncc colors
$vlight-green: #B6D86A;
$light-green: #A5CF46;
$medium-green: #58A966;
$dark-green: #2D903C;
$blue: #01B6D1;
$dark-blue: #0181C8;
$cta-red: #C8102E;

$charcoal: #252525;

$vdark-grey: #404040;
$dark-grey: #676d76;
$grey: #555;
$light-grey: #545a63;
$lighter-grey: #666666;
$medium-light-grey: #737373;
$vlight-grey: #EDEDED;
$lightest-grey: #F0F1F1;
$darker-background-grey: #f3f3f3;
$background-grey: $lightest-grey;
$input-placeholder-grey: #78787a;
$input-border-grey: #767271;

$indicator-light-grey: #dddfde;
$indicator-dark-grey: #d7d8d9;

$donation-amount-button-text-color: $medium-light-grey;
$donation-amount-border-color: #d4d4d2;

$body-background: #E5E6E7;
$white: #FFFFFF; 
$black: #000;

$modal-overlay-opacity: 0.65;
$text-colour: $charcoal;

//-----------
//sections
//-----------

//text
$content-overlap-xs: 0px;
$content-overlap-sm: 0px;
$content-overlap-md: 0px;
$content-overlap-xl: 0px;

//Header
$header-bgcolour: $vdark-grey;
$header-height-xxs: 76px;
$header-height-xs: 76px;
$header-height-sm: 76px;
$header-height-md: 108px;
$header-height-xl: 108px;
$header-padding: 15px 0 15px 5%;

// Page Title
$pagetitle-height-xs: 42px;
$pagetitle-height-base: 62px;
$pagetitle-height-xl: 124px;

$pagetitle-marginleft-xs: 50px;
$pagetitle-marginleft-base: 70px;

$stripe: image-url('stripe.png');

//Campaign
$campaignText-wrapper: 13% 15%;
$campaign-paddingtop-md: 30px;
$campaign-height-md: 250px;
$campaign-shadow-width: 24px;
$campaign-paddingleft-md: 29px; 
$campaign-paddingleft-xxs: 11px; 
$page-max-width: 1175px;

//Hero
$hero-background: $white;
//$hero-bgimage: image-url('hero_baby.jpg');
//$hero-bgimage-xl: image-url('hero_baby.jpg');

//$hero-bgimage-sea: image-url('hero_sea.jpg');
//$hero-bgimage-delivery: image-url('hero_delivery.jpg');

$heroTitle-padding: 49% 5% 0% 5%;
//$heroSubtitle-padding: 0% 12% 20% 12%;
$heroTitle-padding-sm: $heroTitle-padding; //16% 20% 23%;
$heroTitle-padding-xxs: 55px $campaign-paddingleft-xxs;
$hero-captionpadding-md: 15px;

// IMPACT
//$impact-bgimage: image-url('ye-2015-section-1.jpg');
//$response-bgimage: image-url('ye-2015-section-2.jpg');
//$gift-bgimage: image-url('ye-2015-section-3.jpg');

//Highlights
$highlights-margin-xs: 0px 10px 5px 10px;
$highlights-margin-md: 0px 30px 5px 10px;
$highlights-margin-xl: 0px 40px 10px 10px;
$highlights-margintop-xs: 20px;
$highlights-marginbottom-sm: 50px;

$highlightsText-padding-sm: 14% 4.5%;
$highlightsText-padding-md: 10% 4.5% 5% 4.5%;
$highlightsText-padding-xs: 14% 4.5% 5% 4.5%;
$highlights-titlepadding-lg: 0 30px 0 0;

//Financial
$financial-height-md: 400px;
$financialText-padding-sm: 5%;
$financialText-padding-xs: 10%;
$financialText-padding-md: 5%;


//Supporters
$supportersText-height-md: 400px;
$supportersHeader-padding-md: 15px 3%;
$supporterPicture-height-md: 300px;
$supporterProfile-padding-md: 0px 0px 60px 0px;

//form
//$form-background: image-url("msf-ye-2015-border.jpg");

$form-width-xxs: 386px;
$form-width-xs: 386px;
$form-width-sm: 386px;
$form-width-md: 386px;
$form-width-xl: 386px;
$form-padding: 24px;
$form-navbar-height: 52px;
$form-text-padding: 10px;

$steps_colour: $charcoal;
$steps_background: $indicator-light-grey;
$steps_advancedBackground: linear-gradient($indicator-light-grey 40%, $indicator-dark-grey 60%);
$steps_border: none;
$stepsActive_background: $dark-green;
$stepsActive_advancedBackground: linear-gradient($medium-green 40%, $dark-green 60%);
$stepsActive_border: none;
$stepsActive_colour: $white;
$stepsActive_arrowBackground: $dark-green;
$stepsComplete_colour: $charcoal;
$stepsComplete_background: $indicator-light-grey;
$stepsComplete_advancedBackground: linear-gradient($indicator-light-grey 40%, $indicator-dark-grey 60%);

$amount-active-advancedBackground: linear-gradient($dark-green 0%, darken($dark-green,5%) 100%);
$amount-hover-advancedBackground: linear-gradient(lighten($lightest-grey,5%) 0%, $lightest-grey 100%);
$amount-normal-advancedBackground: linear-gradient($lightest-grey 0%, darken($lightest-grey, 5%) 100%);
$amount-active-background: $dark-green;
$amount-hover-background: lighten($lightest-grey, 5%);
$amount-normal-background: $lightest-grey;

//footer
$footer-padding-xs: 40px;
$footer-padding-md: 80px;
$footer-height-md: 200px;
$footer-logoheight-base: 62.5px;
$footer-logowidth-base: 250px;
$footer-logowidth-xl: 500px;
$footer-logoheight-xl: ($footer-logoheight-base * 2);
$footer-logowidth-xl: ($footer-logowidth-base * 2);

//upsell
$upsell-background: $white;
$upsell-cta-colour: $yellow;
$upsell-colour: $white;
$upsell-overlay-background: rgba($charcoal, $modal-overlay-opacity);
$upsell-highlight-colour: $light-green;
$upsell-action-background: $dark-red;
$upsell-close-colour: $black;
$upsell-close-background: $light-grey;

//Postaction
$share-borderColour: #E6E6E6;
$share-header-bgColour: #e5e5e5;
$sharing-text-grey: #5B5B5B;

//-----------
//screen sizes
//-----------
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1300px;
$screen-xl: 2100px;

$screen-xxs-max: 619px;
$screen-xs-min: 620px;
$screen-sm-min: 769px;

$screen-xl-min: $screen-xl;
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);

//spacing
$page-padding-xs: 80px 40px;
$page-left-padding-md: 80px;
$page-right-padding-md: 80px;
$page-text-max-width: 600px;
