// Mixin for call to action button
$calltoaction-buttonpadding-md: 20px 20px;

@mixin calltoaction-button--red {
  background-color: $cta-red;
  padding: $calltoaction-buttonpadding-md;
  border-radius: 10px 10px 0 0;
}

@mixin cta-button--magenta {
  border-radius: 0;
  border: 1px solid $white;
  color: $white;
  text-transform: uppercase;
  background-color: $cta-red;
  @include font-bodyN7;
  @include fontSize-medium;
  &:hover {
    opacity: 0.9;
  }
}

@mixin cta-button--red {
  border-radius: 0;
  color: $white;
  text-transform: uppercase;
  background-color: $cta-red;
  @include font-bodyN4;
  @include fontSize-medium;
  border-radius: 3px;
  padding: 10px 30px;

  &:hover {
    opacity: 0.9;
  }
  
  &:focus {
	  outline: none;
  }
}