//Include just the glyphicons we need to avoid using the very large partial
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.eot'), '#{$icon-font-path}#{$icon-font-name}.eot'));
  src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.eot?#iefix'), '#{$icon-font-path}#{$icon-font-name}.eot?#iefix')) format('embedded-opentype'),
       url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.woff2'), '#{$icon-font-path}#{$icon-font-name}.woff2')) format('woff2'),
       url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.woff'), '#{$icon-font-path}#{$icon-font-name}.woff')) format('woff'),
       url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.ttf'), '#{$icon-font-path}#{$icon-font-name}.ttf')) format('truetype'),
       url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}'), '#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}')) format('svg');
}

// Catchall baseclass
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.glyphicon-chevron-left           { &:before { content: "\e079"; } }
.glyphicon-chevron-right          { &:before { content: "\e080"; } }
.glyphicon-lock                   { &:before { content: "\e033"; } }

.intro{
  padding: 73px 40px;
  @include fontSize(medium);
  
  span {
    color: $brand-primary-teal;
    font-size: 1.4rem;
    line-height: $line-hero;
  }
}

.issue{
  height: 350px;
  background-image: url("../img/water-texture.jpeg");
}

.issueWrapper--left{
  float: left;
  padding: 0 30px;
  width: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
  h1{
    @include font-headN7;
    letter-spacing: 1.3px;
    color: $white;
    text-align: center;
    padding-bottom: 15px;
    @include fontSize(larger);
    text-transform: uppercase;
    
    @include mobileAndTablet {
      position: relative;
      top: 0;
      transform: none;
    }
    
    @media screen and (max-width: 805px) {
       @include fontSize(largerish);
    }
  }
  
  p{ 
    color: $white;
    @include font-bodyN3;
    line-height: $line-looser;
    @include fontSize(medium);
    text-align: center;
  }
  
  @media screen and (max-width: 1022px) { 
    width:100%;
    float:none;
  }
}

.issueWrapper--right{
  width: 165px;
  float: right;
  background: $brand-tertiary-green;
  height: 350px;
  position: relative;
  right: 30px;
  @include font-bodyN4;
  
  p {
    color: $white;
    padding: 0 20px;
    font-size: 1.3rem;
    height: 95px;
    text-align: center;
    margin-top: 126px;
  }
  
  span {
    @include font-bodyI7;
  }
  
  @media screen and (min-width: 1023px) {
    &:before {
      content: " ";
      height: 350px;
      border-left: 1.5px solid $brand-tertiary-faded-green;
      position: absolute;
      left: 5px;
    }
    
    &:after {
      content: " ";
      height: 350px;
      border-left: 1.5px solid $brand-tertiary-faded-green;
      position: absolute;
      right: 5px;
      top: 0;
    }
  }
  
  @media screen and (max-width: 1022px) { 
    display: none;
  }
}

.issueWrapper--under {
  display: none;
  
  @media screen and (max-width: 1022px) { 
    display: block;
    background: $brand-tertiary-green;
    height: 95px;
    position: relative;
    color: $white;
    @include font-bodyN4;
  }
  
  p {
    font-size: 1.3rem;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
  }
  
  span {
    @include font-bodyI7;
  }
}

.section-heading {
    color: $brand-primary-navy;
    text-transform: uppercase;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 25px;
    @include fontSize(xlarge);
    margin: 0 20%;
    line-height: $line-tight;
  
  @include mobileAndTablet {
    margin: 0 5%;
  }
}

.join-us {
  
  p {
    @include font-bodyN4;
  }
  
  span {
    color: $brand-primary-navy;
    @include font-bodyN7;
  }
  
  
} 

.join-us--row {
  
  p {
    padding-top: 26px;
    font-size: 0.9rem;
  }
  
  img {
    border-radius: 50%;
    margin: auto;
    width: 150px;
    height: 150px;
  }
}

.half-width {
  width: 50%;
  padding: 25px 50px;
  text-align: center;
  float: left;
  
  @media screen and (max-width: 1022px) { 
    float: none;
    margin: auto;
    width: 80%;
  }
}

.cta-banner {
  background: $brand-tertiary-green;
  clear: both;
  
  @include tablet {
    position: relative;
    top: 84px;
  }
  
  @media screen and (max-width: 990px) { 
    margin-bottom: 84px;
  }
  
  h2 {
    padding: 20px 30px;
    @include font-bodyN7;
    color: $white;
    text-align: center;
    margin: 0;
    
    
  }
}

.impact {
  p {
    @include font-bodyN4;
    @include fontSize(base);
  }
  
  span {
    @include font-bodyN7;
    @include fontSize(large);
    color: $brand-primary-teal;
  }
  
  div:last-of-type {
    padding-bottom: 40px;
  }
  
  h1 {
    @include mobile {
      padding-top: 0;
    }
  }
} 

.impact--row {
  float: left;
  
  @media screen and (max-width: 1022px) { 
    float: none;
  }
}

.fund-info {
  height: 328px;
  clear: both;
  
  .wrapper--left, .wrapper--right {
    width: 50%;
    float: left;
    padding-top: 62px;
    position:relative;
    z-index: 2;
    
    @include tablet {
      width: 100%;
      float: none;
      padding-top: 20px;
    }
  }
  
  .wrapper--left {
    padding-left: 100px;
    color: $white;
    
    @include tablet {
      padding-left: 30px;
      padding-right: 30px;
    }
    
    h1 {
      @include fontSize(larger);
      width: 400px;
      text-transform: uppercase;
      letter-spacing: 1px;
      
      @include tablet {
        width: auto;
      }
    }
    
    p {
      padding-top: 20px;
      @include fontSize(base);
      
      @media screen and (max-width: 1022px) { 
        padding-top: 10px;
      }
    }
    
    @media screen and (max-width: 1100px) { 
//      padding-left: 80px;
    }
  }
  
  .wrapper--right {
    
//    @media screen and (max-width: 1050px) { 
//      padding-top: 10px;
//    }
    
    img {
      width: 290px;
      padding-top: 69px;
      margin-left: 30px;
      
      @media screen and (max-width: 1100px) { 
        margin-left: 10px;
      }
      
      @include tablet {
        position: relative;
        padding-top: 0px;
        left: 30px;
        margin-left: 0px;
      }
    }
  }
  
  @include mobileAndTablet {
    padding-top: 20px;
  }
}

.fund-outer-wrapper {
  @include tablet {
    position: relative;
//    top: 50%;
//    transform: translateY(-50%);
  }
  
}

.fund-bg {
  position: absolute;
  
  @include tablet {
    height: 412px;
    left: -100px;
  }
}

.last-row div {
  padding-bottom: 80px;
  
  @media screen and (max-width: 1022px) { 
    padding-bottom: 40px;
  }
}

.last-item {
  margin-bottom: 40px;
}

//.fund-info {
//  min-height: 330px;
//  position:absolute;
//  z-index: 2;
//  
//   h1{
//      @include font-headN7;
//      letter-spacing: 1.3px;
//      color: $white;
//      padding-bottom: 30px;
//      @include fontSize-largerish;
//    }
//  
//  .fundWrapper--left{
//    position:absolute;
//    z-index: 2;
//    
//    p{
//      color: $white;
//      @include font-bodyN3;
//      line-height: $line-loose;
//      font-size: 1rem;
//    }
//  }
//
//  .fund-chart{
//    position: relative;
//    z-index: 2;
//  }
//}

//.fund-bg {
//  position:absolute;
//  z-index: 1;
//}

.campaign {
  overflow: hidden;
  @include contentContainer;
  
  h1 {
  	@include font-headN7;
//  	@include fontSize-largerish;
//  	padding: 20% 8% 20% 6%;
    
  }
  	    
  h2 {
    @include font-bodyN4;
    @include fontSize-largerish;
    color: $white;
//    @include line-hero;
//    margin: 0em 0em .5em;
  }

  h3 {
    @include font-bodyN4;
    @include fontSize-large;
    color: $light-green;
    @include line-hero;
    margin: 0em 0em .5em;
  }

  h4 {
    @include font-headN4;
    @include fontSize-biggerBase;
    @include line-tight;
    color: $charcoal;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  // h5 {
  //   @include font-headN7;
  //   @include fontSize-large;
  //  	@include line-tighter;
  //  	color: $dark-green;
  //  	margin: 0em 0em .5em;
  // }
  
  // .ncc-dark-green {
  //  	color: $dark-green;
  // }
  // .ncc-light-green {
  //   color: $light-green
  // }

  .row {
	margin: 0px;
	}

  &:after {
    position: absolute;
    content: ' ';
    top: 0;
    right: $form-width-md - ($campaign-shadow-width) ;
    margin-right: 1px;
    @include box-shadow(inset 10px 0px 15px -5px rgba(0,0,0, 0.2));
    height: 100%;
    width: $campaign-shadow-width;
    @include z-superHighest;
    @include mobileAndTablet {
      display: none;
    }
  }
}

.wrapper {
	background-color: $white;
	color: $text-colour;
	padding: 8% 11.5%;
	position: relative;
	
	p {
		@include fontSize-base;
    @include lineHeight-campaigntext-main;
		margin: 15px 0;
	}
  @include mobile {
    padding: 8% 20px;
  }
}

/*.js-hero {
  position: relative; //for the overflow control
  overflow: hidden;
  height: 545px;
}*/

.campaignText-wrapper.wrapper {
  padding-top: 11.2%;
  padding-bottom: 10%;
  h2 {
    @include fontSize-medium;
    line-height: 1.37;
    @include font-bodyN4;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    max-width: 90%;
    margin: 0 auto;
  }
  // h3 {
  //   @include fontSize-largerish;
  //   @include line-hero;
  // }
  // padding-left: 10.2%;
  // padding-right: 10.2%;
  // p {
  //   @include line-base;
  //   @include mobile {
  //     margin-bottom: 0;
  //     @include line-nearBase;
  //     @include fontSize-mediumLarge;
  //   }
  // }
  // @include mobile {
  //   // h3, h2 {
  //   //   display: inline;
  //   //   @include fontSize-largerish;
  //   //   @include line-hero;
  //   // }
  //   // padding-top: 32px;
  //   // padding-bottom: 25px;
  //   // @include mobileGutter;
  // }
}

// .campaignText-sub{
//   @include font-bodyN4;
//   color: $white;
//   text-transform: uppercase;
// }

.ctaAskText-wrapper {
  padding-top: 2.88%;
  padding-bottom: 2.9%;
  background-color: $brand-primary-alternate;

  @include smallDesktopMax {
    background-image: none;
  }
  
  .ctaAskText-text {
    position: relative;
    display: block;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    padding: 23px 0;
    color: $white;
    strong {
      color: #231f20;
    }
    @include font-headN4;
    @include gotham-fontSize-large;
    @include line-tight;
    @include smallDesktopMax {
      transform: none;
      top: auto;
    }
    // img {
    //   display: none;
    //   @include smallDesktopMax {
    //     display: block;
    //     width: 100%;
    //   }
    // }
  }

}

// .ctaAskPhotoCaption{
//   @include smallDesktopPlus{
//     left: 100%;
//     margin-left: -256px;
//     padding: 7px 13px;
//   }
// }

// .otherWaysToGive-wrapper.wrapper {
//   text-align: center;
//   padding-bottom: 0;
//   @include smallDesktopMax {
//     text-align: left;
//   }
//   @include mobile {
//     @include mobileGutter;

//     padding-top: 40px;
//   }
//   a {
//     text-transform: uppercase;
//     @include fontSize-biggerBase;
//     @include line-loose;
//     @include font-bodyN4;
//     color: $orange;
//     text-decoration: underline;
//     &:hover {
//       color: $orange;
//       text-decoration: none;
//     }
//     &:active {
//       color: $orange;
//       text-decoration: none;
//       opacity: 0.9;
//     }
//     &:visited {
//       color: $orange;
//     }
//     @include mobile {
//       @include font-bodyN7;
//     }
//   }
// }


.impactText-divider {
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 5px solid $brand-primary-alternate;
}

.impactText-wrapper {
  // padding-left: 68px;
  // padding-right: 68px;
  padding-top: 14%;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include smallDesktopMax {
    height: auto;
    background-image: none !important;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  h2 {
    @include fontSize-medium;
    position: relative;
    max-width: 58%;
    margin-top: 7.5%;
    margin-bottom: 8%;
    line-height: 1.43;
    text-align: center;
    color: #ed2b74;
    @include smallDesktopMax {
      max-width: 100%;
      transform: none;
      top: auto;
    }
  }

  // .colleft {
  //   @include font-headN4;
  //   float: left;
  //   width: 43%;
  //   padding-right: 31px;
  //   border-right: 6px solid $light-green;

  //   @include smallDesktopMax {
  //     padding-bottom: 5px;
  //   }

  //   @include mobile {
  //     @include fontSize-xlarge;
  //     @include line-tight;
  //     padding-bottom: 12px;
  //     padding-top: 0px;
  //   }

  // }

  // .colright {
  //   float: left;
  //   width: 57%;
  //   list-style: disc outside;
  //   padding-left: 31px;
  //   margin-left: -6px;
  //   border-left: 6px solid $light-green;
  //   @include fontSize-base;

  //   @include mobile{
  //     margin-bottom: 54px;
  //   }

  //   li {
  //     margin-bottom: 1em;
  //     margin-left: 15px;

  //     @include mobile {
  //       margin-bottom: 12px;
  //       margin-left: 28px;
  //       @include line-nearBase;
  //       @include fontSize-mediumLarge;
  //     }


  //     &:last-of-type{
  //       margin-bottom: 0;
  //     }
  //   }
  //   @include smallDesktopMax {
  //     padding-top: 5px;
  //   }
  //   @include mobile {
  //     padding: 0px;
  //   }
  // }
  // @include smallDesktopMax {
  //   // padding-left: $campaign-paddingleft-md;
  //   // padding-right: $campaign-paddingleft-md;
  //   .colright, .colleft {
  //     float: none;
  //     width: 100%;
  //     border: none;
  //     padding-left: 0;
  //     padding-right: 0;
  //   }
  // }
  // @include mobile {
  //   // @include mobileGutter;
  // }

}

.js-response {
	position: relative; //for the overflow control
	overflow: hidden;
}

.responseText-heading-wrapper {
  padding-top: 8.5%;
  padding-bottom: 3.5%;
}
.improvement {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  @include smallDesktopMax {
    top: auto;
    transform: none; 
  }
  h4 {
    font-size: 1.203125rem;
    margin-bottom: 5px;
    @include font-bodyN4;
    font-weight: 600;
  }
  p {
    @include font-headN3;
    @include gotham-fontSize-base;
    color: #636466;
  }
}
.responseText-wrapper {
    background-color: $white;
    position: relative;
    @include z-extraHighest;
    padding: 0px 0px;
    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: $vlight-grey;
      border-width: 37px;
      margin-left: -37px;
    }
  	h3 {
  		color: $brand-primary-alternate;
      margin-bottom: 0;
      font-weight: 700;
      max-width: 90%;
      text-transform: uppercase;
      position: relative;
      @include line-tight;
  		@include fontSize-largerish;
      @include font-bodyN4;
      // max-width: 76%;
      @include smallDesktopMax {
        top: auto;
        transform: none;
      }
      @include mobile {
        @include fontSize-mediumLarge;
        @include line-nearBase;
        font-weight: 400;
      }
  	}
  	ul {
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
      height: auto;
      li {
        &:nth-of-type(1) .improvement {
          padding-top: 25px;
          background-color: #fbd5e3;
          padding-bottom: 25px;
          p {
            color: #636466;
            max-width: 100%;
          }
        }
        &:nth-of-type(2) .improvement {
          padding-top: 32px;
          background-color: #f9b5ce;
          padding-bottom: 20px;
          p {
            color: #636466;
          }
        }
        &:nth-of-type(3) .improvement {
          padding-top: 30px;
          background-color: #f695b9;
          padding-bottom: 26px;
          p {
            color: #58595b;
          }
        }
        &:nth-of-type(4) .improvement {
          padding-top: 31px;
          background-color: #f375a5;
          padding-bottom: 23px;
          p {
            color: #3c4346;            
          }
        }
        &:nth-of-type(5) .improvement {
          padding-top: 30px;
          background-color: #f15590;
          p {
            color: #000;
          }
          padding-bottom: 36px;
        }
      }
    }
  	p {
      margin-top: 0;
      margin-bottom: 0;
      @include line-loose;
      @include mobile {
        // @include fontSize-mediumLarge;
        // @include line-nearBase;
      }

      @include tabletPlus{
        // max-width: 35em;
      }
  	}
    @include mobile {
      // padding-top: 27px;
      // padding-bottom: 27px;
      // @include mobileGutter;
    }
}

// #slider {
//   width: 100%;
//   position: relative;
//   @include smallDesktopMax {
//     padding-bottom: 40px;
//   }
//   .nav {
//     top: 140px;
//     .prev {
//       display: block;
//       position: absolute;
//       top: 40%;
//       left: 12px;
//       width: 35px;
//       height: 68px;
//       background: image-url('icon-previous.png') no-repeat left center;
//       background-size: cover;
//       @include z-extraHighest;
//       @include mobile {
//         background: image-url('icon-previous-mobile.png') no-repeat right center;
//         background-color: $white;
//       }
//     }
//     .next {
//       display: block;
//       position: absolute;
//       top: 40%;
//       right: 12px;
//       width: 35px;
//       height: 68px;
//       background: image-url('icon-next.png') no-repeat right center;
//       background-size: cover;
//       @include z-extraHighest;
//       @include mobile {
//         background: image-url('icon-next-mobile.png') no-repeat right center;
//         background-color: $white;
//       }
//     }
//     @include smallDesktopMax {
//       .next, .prev {
//         top: 25%;
//         width: 35px;
//         background-position: center center;
//       }
//     }
//     @include mobile {
//       .next, .prev {
//         top: 18%;
//       }
//     }
//     .dot {
//       display: inline-block;
//       width: 10px;
//       height: 10px;
//       margin: 0 5px;
//       background-color: #fff;
//       border-radius: 50%;
//       &.activeSlide {
//         background-color: $orange;
//       }
//     }
//   }
//   .pager {
//     position: absolute;
//     bottom: 25px;
//     left: 45.2%;
//     @include z-extraHighest;
//     @include smallDesktopMax {
//       bottom: 15px;
//     }
//     @include mobile {
//       display: none;
//     }
//   }
//   .slide {
//     position: relative;
//     img {
//       width: 100%;
//     }
//     .slide-photo {
//       position: relative;
//     }
//     .slide-content {
//       position: absolute;
//       right: 75px;
//       top: 75px;
//       background-color: rgba(255,255,255,0.9);
//       max-width: 264px;
//       padding: 22px;
//       h2 {
//         @include line-base;
//         @include fontSize-largerish;
//         font-weight: 600;
//         padding-bottom: .5em;
//         border-bottom: 1px solid $light-green;
//       }
//       p {
//         @include line-loose;
//         @include fontSize-biggerBase;
//       }
//       @include smallDesktopMax {
//         position: static;
//         display: block;
//         width: 100%;
//         max-width: none;
//       }
//       @include mobile {
//         @include mobileGutter;
//       }
//     }
//   }
// }
.accountableText-innerwrapper {
  position: relative;
  p {
    @include gotham-fontSize-biggerBase;
    @include font-headN3;
    @include line-loose;
    line-height: 1.4em;
    max-width: 75%;
    margin: 0 auto;
    color: #4d4d4f;
  }
}

.accountableText-wrapper.wrapper {
  padding: 0;
  text-align: center;
  padding-left: $campaign-paddingleft-md;
  padding-right: $campaign-paddingleft-md;
  padding-top: 11.5%;
  padding-bottom: 11.5%;
  .colleft {
    float: left;
    width: 50%;
    padding-right: 20px;
    @include tablet {
      margin-bottom: 24px;
    }
  }
  .colright {
    float: left;
    width: 50%;
    padding-left: 20px;
  }
  h3 {
    text-transform: uppercase;
    max-width: 73%;
    color: $brand-secondary;
    margin: 0 auto 23px auto;
    @include fontSize-medium;
    @include line-loose;
    @include mobile {
      // @include fontSize-biggerBase;
      // @include line-loose;
    }
  }
  img {
    width: 100%;
    max-width: 718px;
  }
  // .accountableText-disclaimer {
  //   display: block;
  //   clear: both;
  //   padding-top: 30px;
  //   @include fontSize-base;
  //   @include line-base;
  //   @include thickBlueLine;
  //   padding-bottom: 8%;
  //   @include mobile {
  //     padding-bottom: 10px;
  //   }
  // }
  @include smallDesktopMax {
    .colright, .colleft {
      float: none;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  @include mobile {
    .colright, .colleft {
      margin-bottom: 48px;
    }
    @include mobileGutter;
    padding-top: 48px;
  }
}

.policyText-wrapper.wrapper {
  // padding-left: 6%;
  // padding-right: 6%;
  padding-top: 12.5%;
  padding-bottom: 6%;
  height: auto;
  background-size: cover;
  border-bottom: 8px solid $white;
  @include desktop {
    padding-right: 0;
  }
  h3 {
    position: relative;
    text-transform: uppercase;
    color: $brand-primary-alternate;
    @include gotham-fontSize-huge;
    @include font-headN7;
    margin-bottom: 1em;
    max-width: 72%;
    margin-left: auto;
    @media screen and (max-width: $screen-lg) { 
      margin-bottom: 47px;
      max-width: 100%;
      color: $white;
    }
    @include mobile {
      font-size: 40px;
    }

  }
  img {
    max-width: 257px;
    width: 100%;
  }
  @media screen and (max-width: $screen-lg) {
    background-image: none !important;
    background-color: $brand-primary-alternate;
  }
}


// .js-supporters,
// .js-highlights{
//   background: $white;
// }

// for mobile
@media screen and (max-width: $screen-sm),
screen and (max-device-width:$screen-sm) {

	// header p.page-logo {
	// 	left: 0px;	
	// }
	
	.campaign {
		
	  overflow: hidden;
	  @include contentContainer;
	  
	  h1 {
	  	@include font-headN7;
			@include fontSize(larger);
	    position: relative;
	    bottom: 0;
//			padding: 0 6% 50%;
	  }
	  	  	    	  
	}
	
	// .giftText-wrapper.wrapper {
	// 	padding: 8% 8% 8% 6%;
	// 	position: absolute;
	// 	bottom: 0;
	// }

  // .campaignText-main {
  //   @include fontSize-medium;
  // }

  // .campaignText-sub{
  //   @include fontSize-small;
  // }

  .js-campaign {
  	
  	h2 {
//  		@include font-headN7;
//  		@include fontSize-large;
  	}
  	
  }

}

// for tablet
@media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
  .campaignText-main {
    @include fontSize-medium;
  }

  .campaigntext-sub{
    @include fontSize-small;
  }

}

// for medium devices
@media screen and (min-width: $screen-md) {
  .campaignText-main {
    @include fontSize-large;
  }

  .campaigntext-small{
    @include fontSize-small;
  }
}
