// Mixin for call to action button
$calltoaction-buttonpadding-md: 20px 20px;

@mixin calltoaction-button--red {
  background-color: $dark-red;
  padding: $calltoaction-buttonpadding-md;
  border-radius: 10px 10px 0 0;
}


//Every row on the left starting from the turquoise
.campaign{
  @include contentContainer;
}
@media screen and (min-width: $screen-md){
  .campaignText-wrapper {
  background-color: $turquoise;
  color: $green;
  padding: 150px 15%;
  height: $campaign-height-md;
  position: relative;
  }
  .campaignText-main {
    @include dagny-light;
    @include fontSize-larger;

  }
  .highlightsText-wrapper {
    position: relative;
    padding: $highlights-padding-md;
    min-height: 250px;
  }
  .highlights-title {
    float: left;
    padding-right: 30px;
  }
  .highlights-title--number {
    @include dagny-heavy;
    @include fontSize-massive;
    color: $green;
    line-height: 90px;
    display: block;
  }
  .highlights-title--text {
    @include dagny-light;
    @include fontSize-medium;
    text-transform: uppercase;
    line-height: 150px;
  }

  .highlights-subtitle {
    @include dagny-heavy;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: $turquoise;
  }
  .highlights-year {
    @include dagny-heavy;
  }
  .highlights-events {
    @include dagny;
    line-height: 24px;
  }
  .highlights-cta {
    @include dagny;
    @include fontSize-base;
    @include calltoaction-button--red;
    position: absolute;
    color: $white;
    display: inline;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto 5px auto;
    text-transform: uppercase;
    width: 560px;
  }
  .financialText-wrapper {
    position: relative;
    height: $financial-height-md;
    background: $financial-bgimage;
    background-size: cover;
    padding: $financial-padding-md;
    img { // for retina
      width: 821.5px;
      height: 401.5px;
    }
  }
  .financialCaption {
    @extend .heroCaption;
  }
  .supportersText-wrapper {
    background-color: $dark-turquoise;
    // font-size: 0; // used to eliminate small white space under photo
    // padding: $supporters-padding-md;
    h4 {
      @include dagny-light;
      @include fontSize-base;
      padding: $supportersHeader-padding-md;
      text-transform: uppercase;
      background-color: $turquoise;
      color: $white;

    }

  .profile-photo {
  float: left;
  width: 40%;
    img {
      width: 361px;
      height: 375px;
    }
  }
  .profile-description {
    @include dagny;
    width: 40%;
    color: $white;
    float: left;
    padding: $supporterProfile-padding-md;
    // padding: $supportersText-padding-md;

    .supporter-name {
      @include dagny-heavy;
      @include fontSize-larger;
    }
    .supporter-caption {
      @include dagny-light;
      @include fontSize-medium;
      margin-bottom: 20px;
    }
    .supporter-description {
      @include fontSize-base;

    }
  }

  }
}
