@mixin formSectionHeader{
  margin: 1.5em 0 1em;
  @include fontSize-biggerBase;
  @include font-headN4;
  color: $light-green;
}

#grdonation{
  .page {
    h3{
    	@include formSectionHeader;
    	display: block;
        clear: both;
      padding-left: $form-text-padding;
    }
    label, .eaFormElementLabel {
        padding-left: $form-text-padding
    }
    .eaFormElementLabel > label {
        padding-left: 0;
    }
    h1 {
        text-align: center;
        color: $dark-green;
        @include fontSize-large;
        @include font-headN4;
        @include line-tight;
        margin-top: 25px;
        margin-bottom: 19px - 5px; //<label> has the 5px taken from here
        strong {
            color: $light-green;
            @include font-headN4;
        }
    }
    div.radiobutton {
        clear: none;
        float: left;
        &:nth-child(even) {
            float: right;
        }
        margin: 0 0 25px 0px;
        display: block;
        width: 48.5%;

        label {
          display: block;
          float: none;
          border-radius: 1px;
          border-top: 1px solid $vlight-grey;
          background: $background-grey;
          color: $medium-light-grey;
          box-shadow: 1px 1px 2px $black;
          box-shadow: 1px 1px 2px rgba($black, 0.3);
          margin-bottom: 0;
          padding-right: 3em;
          white-space: nowrap;
        }
        *:focus {
          outline: 0;
        }
        input[type='radio'] {
          outline: 0;
        }

        /* hide input */
        input[type='radio']:empty, input[type='checkbox']:empty {
          margin-left: -999px;
          position: absolute;
          display: none;
        }

        /* style label */
        input[type='radio']:empty ~ label, input[type='checkbox']:empty ~ label {
          position: relative;
          padding-left: 3.5em;
          // padding-top: .2em;
          // padding-bottom: .2em;
          min-height: 3em;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          padding-top: 6px;
          padding-bottom: 6px;
          @include fontSize-base;
          @include line-tighter;
        }
        input[type='radio']:empty ~ label:before, input[type='checkbox']:empty ~ label:before {
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          content: '';
          width: 2.5em;
          background: $indicator-dark-grey;
          border-radius: 1px 0 0 1px;
          padding-top: 13px;
        }

        /* toggle hover */
        input[type='radio']:not(:checked) ~ label:hover:before, input[type='checkbox']:not(:checked) ~ label:hover:before {
          content: '\2714';
          text-indent: .9em;

        }
        input[type='radio']:not(:checked) ~ label:hover, input[type='checkbox']:not(:checked) ~ label:hover {
          background-color: lighten($lightest-grey, 5%);
        }

        /* toggle on */
        input[type='radio']:checked ~ label:before, input[type='checkbox']:checked ~ label:before {
          content: '\2714';
          text-indent: .9em;
          color: $white;
          background-color: $light-green;
        }
        input[type='radio']:checked ~ label, input[type='checkbox']:checked ~ label {
          color: $white;
          background-color: $dark-green;
        }

        /* radio focus */
        input[type='radio']:focus ~ label:before, input[type='checkbox']:focus ~ label:before {
          box-shadow: 0 0 0 3px #999;
        }
    }

  }

  #gr_donation {
    div.radiobutton{
      width: 46.5%;
    }
  }
  #gr_options {
        .radiobutton label {
            padding-right: 3%;
        }

        .page div.eaQuestionCheckboxFormFieldContainer{
          padding: 0;
        }
  }

  #gr_payment h3{
    padding-left: 0;
    margin: 0;
  }
}

#In_MemoriamDiv{
  margin-bottom: 20px;
}
#Tribute_OptionsDiv{
  margin-bottom: 8px;
}

#Additional_CommentsDiv{
  padding-top: 25px;
}


.donationSummary{
  @include fontSize-base;
  display: inline-block;
  padding-left: $form-text-padding;
  padding-right: $form-text-padding;
  margin-bottom: 20px;
  padding-top: 10px;
  color: $medium-light-grey;

  h3 {
    padding-left: 0px;
  }
}

.js-form-explainer{
  @include fontSize-base;
  @include lineHeight-hero;
  color: $medium-light-grey;
  clear: both;
  padding-top: 15px;
  max-width: 30em;
  margin: 0 auto;
  text-align: center;
}

#grdonation .page .js-donationOptions{
  margin-bottom: 0;
}

#Company_GiftDiv span{
  margin-bottom: 20px;
  @include fontSize-base;
  @include lineHeight-hero;
}

.js-instructionsAndComment{
  padding-left: $form-text-padding;
  padding-right: $form-text-padding;
  color: $medium-light-grey;
}

/*.js-additional-comments{
  margin-left: $form-text-padding;
  margin-right: $form-text-padding;
}*/
  
  // div.radiobutton {
  //   label {
  //	 background-color: rgba(0, 0, 0, 0);
  //	 background-image: linear-gradient(rgb(245, 245, 245) 0%, rgb(206, 206, 206) 100%);
  //	 color: #888;
  //	 font-weight: normal;
  //   }
  //   input[type='radio']:hover:not(:checked) ~ label {
  //	 color: #888;
  //   }
  //   input[type='radio']:checked ~ label {
  //	 color: #222;
  //   }
  // }
  
#gr_donation {
  .eaFormElementLabel{
	@include formSectionHeader;
	display: block;// !important;
  }

  .eaMandatoryFieldMarker{
	display: none;
  }
}

.security {
    display: inline-block;
    vertical-align: middle;
    .security-text {
        background: none;
        border: none;
        color: #000;
        font-size: 11px;
        font-style: normal;
        z-index: 10;
        border-radius: 4px;
        transition: all 0.5s ease;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
            color: green;
        }
    }

    .security-image {
        display: inline-block;
        margin-right: 4px;
      }
}

.popover {
  width: 400px;
}
#deteailsStep, #paymentStep {
  h3 {
	color: #535456;
	text-align: center;
	font-size: 16px;
	margin: 5px 0px 20px;
  }
}

.mod-button {
  padding:0px;
  margin: -10px 0px 0px;
  a {
	margin: 0px;
	font-size: 10px;
	&:hover {
	  text-decoration: underline;
	  color: #666;
	}
  }
}
#gr_donation {
  position: relative;
  // background: $form_background;
  h2, h3 {
	color: #535456;
	font-size: 13px;
  }
  h2 {
	text-align: center;
	font-size: 16px;
	margin: 5px;
  }

  .btn-prev{
	display:none;
  }
}


.window--frame{
  padding-top: 0px;
  overflow:hidden;
}

/*#gr_details, #gr_payment {
  background: $background-grey;
  border-radius: 0 0 15px 15px;
}*/

#gr_details {
  input.eaSubmitButton {
	margin-top: 20px;
	width: 100%;
	display: block;
  }
  select {
	padding-right: 0;
  }
}

#gr_sharing {}

#donation-ranges {
  display: none;
}

.popover-content {
  width: 100%;
}

#gr_recurring {
  
}

.eaFormField {
  position: relative;
  .glyphicon {
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -7px;
  }
  // input {
  //   padding-right: 36px;
  // }
}
.easplit {
  .glyphicon {
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -11px;
  }
}

#grdonation #gr_options .eaFormRadio,
#grdonation #gr_inmem .eaFormRadio,
#grdonation #gr_company .eaFormRadio{
  margin-left: 20px;
  padding-left: 20px;
  display: block;

  input{
    margin-left: -20px;
  }

  label{
    @include fontSize-base;
    @include line-nearBase;
    color: $medium-light-grey;
  }
}

#grdonation .page #Recognize_GiftDiv{
  .eaFormElementLabel{
    display: block;
    clear: both;
    padding-left: 0;
    padding-top: 10px;
    @include formSectionHeader;
    margin-bottom: 15px;
  }

  .eaFormElementLabel .label-note{
    @include fontSize-base;
    color: $medium-light-grey;
  }


}

#grdonation #gr_inmem .eaFormRadio,
#grdonation #gr_company .eaFormRadio{
  margin-left: 0;
  float: left;
  width: 32%;
  padding-bottom: 25px;
}

.no-padding {
  padding: 0;
}

@mixin pellet-indicator{
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 9px 10px 10px;
  text-align: center;
  position: relative;
  padding-left: 1px;
}

@mixin text-indicator{
  padding: 5px 15px;
  font-size: 10px;
  line-height: 16px;
  display: inline-block;
  position: relative;
}

.form-header-counter {
	margin-top: 25px;
	position: relative;
	height: 139px;

	.seconds-label {
    padding-right: 3px;
    /* font-weight: normal; */
    font-size: 17px;
    
    span {
	    font-weight: normal;
    }
	}

}
	
.seconds-container {
  color: $white;
  @include font-headN7;
  @include fontSize-smallish;
  position: relative;
  top: 35px;
  left: 30px;
  width: 150px;
  text-align: right;
}

.js-seconds-counter {
  @include font-decoN7;
  @include fontSize-xlarge;      
  line-height: 1em;
  margin-bottom: -5px;
}

.seconds-label{
  clear: both;
}

.form-header-counter + h3 {
	@include font-headN7;
	@include line-tighter;
	font-size: 1.5rem;
  color: #f42841;
  text-align: center;
  margin: 20px auto 0px;
  width: 85%;
}
.steps-list {
  height: $header-height-md;
  @include thickBlueLine;
  position: relative;
  padding-top: 35px;
  @include mobileAndTablet {
    height: auto;
    border-bottom: none;
    padding-top: 0;
  }
  ul {
	list-style: none;
	margin: 0;
	padding: 0px 10px 0px 17px;
	text-align: left;
	font-size: 0;
    display: inline-block;
    vertical-align: middle;
	li {
	  vertical-align: middle;
	  color: #444;
	  background: $steps_background;
	  @include background($steps_advancedBackground);
	  border: $steps_border;	  
	  @include text-indicator;
	  @include fontSize-smallish;
      @include font-bodyN4;
	  &.current,
	  &.is-complete,
	  &.active {
		background: $stepsActive_background;
		@include background($stepsActive_advancedBackground);
		border: $stepsActive_border;
		color: $white;
        @include font-bodyN4;
	  }

	  &.is-complete {
		color: $stepsComplete_colour;
    background: $stepsComplete_background;
    @include background($stepsComplete_advancedBackground);
	  }

	  &.active:after{
		$triangle-height: 10px;
		content: "";
		width: 0;
		height: 0;
		display: block;
		border-width: $triangle-height;
		border-color: $stepsActive_arrowBackground transparent transparent;
		border-style: solid;
		position: absolute;
		bottom: -2 * $triangle-height;
		left: 50%;
		margin-left: -1 * $triangle-height; 
	  }
	}
	// .second,
	// .third {
	//	&:before {
	//	  content: '';
	//	  background: #939598;
	//	  width: 50px;
	//	  height: 2px;
	//	  position: absolute;
	//	  left: -40px;
	//	  top: 50%;
	//	  margin-top: -1px;
	//	  z-index: -1;
	//	}
	// }
  }
}

.top-wrap {
  border-radius: 15px 15px 0 0;
  position: relative;
  z-index: 2;
}

.giving-security{
  background: $white;
  color: $white;
  padding: 15px;
}

.text-field {
  background: #535456;
  padding: 10px 20px;
  margin: 0 -10px;
  position: relative;
  z-index: 1;
  h2 {
	color: #ffc550;
	text-align: left;
	line-height: 1.2em;
	font-size: 22px;
	margin: 0;
	padding: 5px 0px 10px;
  }
  &:before, &:after {
	content: '';
	width: 0;
	  height: 0;
	  border-top: 10px solid #636466; 
	  border-left: 10px solid transparent;
	position: absolute;
	left: 0;
	bottom: -10px;
  }
  &:after {
	left: auto;
	right: 0;
	border-left: none;
	border-right: 10px solid transparent;
  }
}

#guarantee {
  margin-top: 10px;
  background: #ef4236;
  overflow: hidden;
  .guarantee {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #ef4236;
  h3, p {
	color: #ffffff;
	font-size: 18px;
	padding: 0px;
	margin: 0px 0px 10px;
  }
  p {
	font-size: 14px;
  }
  h3 {
	font-size: 24px;
  }
  span.quote {
	color: #fac1bf;
	font-size: 11px;
  }
  blockquote {
	margin-top: 30px;
	padding-top: 5px;
	color: white;
  }
  
}
}

.go-back {
	color: $black;
	display: inline-block;
	opacity: 0.7;
	background: none;
	border: none;
	margin-top: 30px;
	@include fontSize-base;
    @include font-bodyN4;
	text-transform: lowercase;
    text-decoration: underline;

    &:focus {
      outline: none;
    }

	&:hover {
	  opacity: 1;
	  cursor: pointer;
	}
	
	.glyphicon::before {
		 font-size: 15px;
	}
}

.mobile-logo {
  width: 100%;
}

#gr_donation form {
  display: block;
}

#grdonation .page{
  float: left;
  .pull-right {
	clear: both;
  }
}

.lt-ie9, .ie9 {
  #grdonation label {
	display: inline-block;
  }
}

.eaSubmitResetButtonGroup{
  display:none;
}

#Credit_Card_Verification_ValueField input {
  padding-right: 12px;
}

@media only screen and (max-width: 1200px) {
  #gr_content {
	padding: 10px 20px 50px;
  }
  // #gr_header {
  //   background: #080807 url('header-art-version-two.jpg') no-repeat left;
  //   min-height: 300px;
 //	  background-size: auto 100%;
  // }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #gr_header {
	min-height: 200px;
  }
}


/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

  ul{
	padding-left: 1em;
  }

	.steps-list {
	  ul {
			margin: 0;
			padding: 0px 10px 0 0;
		}
	}
	
	.form-header-counter + h3 {
    line-height: 1;
    font-size: 1.6em;
    color: #f42841;
    text-align: center;
    margin: 30px auto 0px;
    width: 90%;
	}
	.security-text {
		background: none;
    border: none;
    color: lightgrey;
    font-size: 11px;
    font-style: normal;
    z-index: 10;
    border-radius: 4px;
    transition: all 0.5s ease;
	}	
		
  .mob-but-wrap {
	position: fixed;
  }
  .scroll {
	.mobile-logo {
	  margin-bottom: 54px;
	}
  }

  #gr_header {
	background: none;
	min-height: 0;
	margin-top: 53px;
  }

  #gr_giving {
	display: none;
	.contain {
	  margin: 0;
	  position: fixed;
	  max-width: 100%;
	  left: 0;
	  top: 0;
	  height: 100%;
	  .top-wrap,
	  #window .page,
	  #gr_details form > div {
		border-radius: 0;
	  }
	}
	.slider-wrap {
	  background: #f1eeed;
	  padding-top: 60px;
	  position: absolute;
	  bottom: 0;
	  height: 100%;
	}
  }
  .text-field {
	display: none;
  }
  .text-field h2 {
	font-size: 20px;
  }

  #window {
	height: 100%;
	.page {
	  margin: 0;
	  height: 100%;
	  // overflow-y: auto;
	}
  }
  .mobile-button {
	display: inline-block;
  }
  #gr_content {
	padding: 10px 20px 10px;
	h1, h2 {
	  font-size: 20px;
	  line-height: 21px;
	  span {
		font-size: 30px;
	  }
	}
	p {
	  font-size: 14px;
	}
  }
}

#grdonation {
  .eaQuestionLabel {
	display: none;
  }

  #Credit_Card_ExpirationDiv {
	clear: both;
  }

  label[for="Donation-Amountother"] {
	background-image: none;
	input[type="text"] {
	  display: inline-block;
	  vertical-align: top;
	}
  }

  #setcurrency {
	width: 100%;
	margin: 0;
	padding: 0 0 0 12px;
  }

  .btn-next {
	margin-top: 17px;
    white-space: normal;
	@include cta-button--red;

	.glyphicon-chevron-right {
	  font-size: 80%;
	  position: relative;
	}
  }
  .levels {
  	margin-top: 0;	
  	clear: left;

	&:before, &:after {
	  content: " ";
	  display: table;
	}
	&:after {
	  content: " ";
	  display: block;
	  height: 0;
	  clear: both;
	}
	.amountbutton {
	  display: block;
	  width: 46.5%;
	  float: left;
	  &:nth-child(even) {
		float: right;
	  }

	  @include mobileAndTablet {
		width: 46.5%;
	  }
	}
	label {
	  background: $amount-normal-background;
      @include background($amount-normal-advancedBackground);
	  border: 2px solid $donation-amount-border-color;
	  display: block;
	  width: 100%;
	  font-size: 18px;
	  color: $white;
	  border-radius: 3px;
	  margin-bottom: 10px;
      padding-left: 0px;
	  text-align: center;
	  line-height: 40px;
	  vertical-align: middle;
	  // box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px 0px;
	  box-sizing: border-box;
	  color: $donation-amount-button-text-color;
	  @include font-decoN4;
	  font-weight: bold;


	  @include mobileAndTablet {
		line-height: 34px;
	  }

	  &:hover {
		cursor: pointer;
		background: $amount-hover-background;
		@include background($amount-hover-advancedBackground);
	  }
	  //&.active {
	  //  background: #e1a400;
	  //}
	  i {
		font-style: normal;
		margin-right: 2px;
	  }
	}

	label.error{
	  position: absolute;
	  background: none;
	  box-shadow:none;
	  font-size: 16px;
	  width: auto;
	}

	input[type="radio"] {
	  visibility: hidden;
	  position: absolute;
	  left: 0;

	  &:checked + label {
    	background: $amount-active-background;
    	border: 2px solid $amount-active-background;
    	color: #fff;
    	cursor: default;
	  }

	}
	input[type="text"] {
	  width: 100%;
	  margin: 0;
	  height: 40px;
	  background: white;
	  color: #555;
	  padding-left: 5px;
	  border-radius: 1px;
	  box-shadow: none;
	  @include fontSize-base;
	  padding: 0px 0px 0px 10px;
	  font-size: 15px;
	  @include font-decoN4;
	  outline: none;
	  outline-offset: -2px;

	  @include mobileAndTablet {
		height: 34px;
	  }

	}
  }
}

input[type=text], select, textarea {
  box-shadow: none;
  &:focus {
	outline: none;
	// border: 1px solid #aaa;
  }
  margin-bottom: 7px;
}

input[type=text],
select, textarea {
  &.valid {
	background: #E0FCE1;
	border: 2px solid #62C166;
  }
  &.error {
	background: #FFEDED;
	border: 2px solid #e80300;
  }
}

#grdonation .page {
  div.eaQuestionCheckboxFormFieldContainer {
	height: auto;
	padding: 1em 0;
    &.radiobutton {
        padding-top: 0;
        margin-bottom: inherit;
    }
  }
  .eaQuestionCheckboxFormFieldContainer label {
	display: inline;
  }
  .eaQuestionCheckboxFormFieldContainer .eaQuestionCheckbox,
  .eaQuestionCheckboxFormFieldContainer .eaQuestionCheckbox input,
  .eaFormCheckbox, 
  .eaFormRadio, 
  .eaFormRadio input,
  .eaFormCheckbox input {
	vertical-align:top;
	&:hover {
	  cursor: pointer;
	}
  }
  .eaQuestionCheckboxFormFieldContainer .eaQuestionCheckbox label,
  .eaFormRadio label,
  .eaFormCheckbox label {
	cursor: pointer;
	display: inline-block;
	width: 90%;
	@include fontSize-smallish;
	@include font-bodyN4;
	@include lineHeight-tight;
	font-weight: 400;
	top: 0px;
	left: 4px;
	position: relative;
	vertical-align:top;
	margin: 0 0 0 5px;
    padding-left: 0;
  }
  .eaQuestionCheckboxFormFieldContainer label {
	display: inline-block;
  }
  #SSL_CertificateDiv {
	float: right;
  }
  #RAPID_SSL {
	width: 49%;
  }
}
.eaFormField,
.eaQuestionCheckboxFormFieldContainer{
  clear: both;
}

.inline-block-field {
  display: inline-block;
  position: relative;
  float: left;

  &.one-quarter {
	width: 24%;
  }
  &.half {
	width: 49%;
  }
  &.three-quarter {
	width: 74%;
  }
  
  &.last {
	margin-left: 2%;
	// text-align: right;
	clear: none;
  }
}

#Credit_Card_ExpirationField:after{
  display: block;
  content:" ";
  clear: both;
}

#paypal{
  float: right;
}

////////////////
//Popover
////////////////
.popover {
  width: 400px;
  font-size: 12px;
}

.popover-content {
  width: 100%;
}

.popover.left {
  width: 100%;
}

.grdonation-contact{
  clear: both;
  padding: 3em 0 0px;
  width: 100%;
  text-align: right;
  // @include dagny-light;
  @include fontSize-small;
  @include formPadding;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) { 

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select:focus
  { font-size: 16px; }
}

@media only screen and (max-height: 768px) and (min-width: 768px) {
  #gr_giving {
	.contain {
	  position: absolute;
	}
  }
}

@media only screen and (max-height:701px) and (min-width: $screen-xs-min){
  .form-header h3{
	font-size: 20px;
  }

  .form-control{
	font-size: 12px;
  }

  #grdonation .levels label{
	font-size: 16px;
	line-height: 36px;
  }

  #gr_details .eaQuestionCheckboxFormFieldContainer .eaQuestionCheckbox label{
	font-size: 14px;
  }
}
