@mixin dagny-heavy{
	font-family: "DagnyOT-Bold";
	font-weight: 700;
	font-style: normal;
}
@mixin dagny{
	font-family: 'DagnyOT';
	font-weight: 400;
	font-style: normal;
}
@mixin dagny-light{
	font-family: "DagnyOT-light";
	font-weight: 200;
	font-style: normal;
}
@mixin footer-font {
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: bolder;
}


//Sizes
@mixin fontSize-smallest {
	font-size: 10px;
}
@mixin fontSize-smaller{
  font-size: 14px;
}
@mixin fontSize-small{
  font-size: 16px;
}
@mixin fontSize-events {
	font-size: 17px;
}
@mixin fontSize-base{
  font-size: 18px;
}
@mixin fontSize-medium {
	font-size: 25px;
}
@mixin fontSize-large{
  font-size: 30px;
}
@mixin fontSize-largerish{
  font-size: 37px;
}
@mixin fontSize-larger{
  font-size: 43px;
}
@mixin fontSize-titleLarge{
  font-size: 53px;
}
@mixin fontSize-xlarge{
  font-size: 55px;
}
@mixin fontSize-huge{
  font-size: 65px;
}
@mixin fontSize-massive-xs {
  font-size: 150px;
}
@mixin fontSize-massive{
  font-size: 210px;
}

@mixin fontSize-responsive-small {
	font-size: 0.7vw;
}
@mixin fontSize-responsive-base {
	font-size: 1.3vw;
}
@mixin fontSize-responsive-medium {
	font-size: 1.8vw;
}
@mixin fontSize-responsive-large {
	font-size: 2.4vw;
}
@mixin fontSize-responsive-larger{
  font-size: 3.3vw;
}
@mixin fontSize-responsive-massive {
	font-size: 15.3vw;
}

//line-heights

@mixin lineHeight-title--number {
	line-height: 0.45em;
}
@mixin lineHeight-hero {
	line-height: 1.2em;
}
@mixin lineHeight-higlights {
	line-height: 1.5em;
}
@mixin lineHeight-title--text {
	line-height: 5.4em;
}

//local
@font-face {
	font-family: 'DagnyOT-Light';
	src: url('../fonts/DagnyOT-Light.otf') format('opentype');
	// src: url('../fonts/AlternateGotNo2D.eot') format('embedded-opentype'),
	// 	 url('../fonts/AlternateGotNo2D.woff') format('woff'),
	// 	 url('../fonts/AlternateGotNo2D.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'DagnyOT';
	src: url('../fonts/DagnyOT.otf') format('opentype');
	// src: url('../fonts/AlternateGotNo2D.eot') format('embedded-opentype'),
	// 	 url('../fonts/AlternateGotNo2D.woff') format('woff'),
	// 	 url('../fonts/AlternateGotNo2D.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DagnyOT-Bold';
	src: url('../fonts/DagnyOT-Bold.otf') format('opentype');
	// src: url('../fonts/AlternateGotNo2D.eot') format('embedded-opentype'),
	// 	 url('../fonts/AlternateGotNo2D.woff') format('woff'),
	// 	 url('../fonts/AlternateGotNo2D.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}



//local
// @font-face {
// 	font-family: 'AlternateGothic';
// 	src: url('../fonts/AlternateGotNo2D.eot');
// 	src: url('../fonts/AlternateGotNo2D.eot') format('embedded-opentype'),
// 		 url('../fonts/AlternateGotNo2D.woff') format('woff'),
// 		 url('../fonts/AlternateGotNo2D.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

//CDN
// @font-face {
// 	font-family: 'AlternateGothic';
// 	src: url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AlternateGotNo2D.eot?v=1436817133000');
// 	src: url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AlternateGotNo2D.eot?v=1436817133000') format('embedded-opentype'),
// 		 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AlternateGotNo2D.woff?v=1436817139000') format('woff'),
// 		 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AlternateGotNo2D.svg?v=1436817136000') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

strong{
	font-weight: 700;
}

em{
	font-style: italic;
}


// @font-face {
// 	font-family: 'ATG';
// 	src: url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic.eot?v=1433425825000');
// 	src: url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic.eot?v=1433425825000#iefix') format('embedded-opentype'),
// 		 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic.woff?v=1433425830000') format('woff'),
// 		 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic.ttf?v=1433425828000') format('truetype'),
// 		 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic.svg?v=1433425827000#AmnestyTradeGothic') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'ATG-BdCn20';
// 	src: url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic-BdCn20.eot?v=1433425810000');
// 	src: url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic-BdCn20.eot?v=1433425810000#iefix') format('embedded-opentype'),
// 		 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic-BdCn20.woff?v=1433425817000') format('woff'),
// 		 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic-BdCn20.ttf?v=1433425815000') format('truetype'),
// 		 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic-BdCn20.svg?v=1433425812000') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// 	text-rendering: optimizeLegibility;
// }

// @font-face {
// 	font-family: 'ATG-Cn18';
// 	src: url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic-Cn18.eot?v=1433425820000');
// 	src: url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic-Cn18.eot?v=1433425820000?#iefix') format('embedded-opentype'),
// 		 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic-Cn18.woff?v=1433425824000') format('woff'),
// 		 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic-Cn18.ttf?v=1433425822000') format('truetype'),
// 		 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1770/AmnestyTradeGothic-Cn18.svg?v=1433425821000') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }


// Local
// @font-face {
// 	font-family: 'ATG';
// 	src: url('../fonts/AmnestyTradeGothic.eot');
// 	src: url('../fonts/AmnestyTradeGothic?#iefix') format('embedded-opentype'),
// 		 url('../fonts/AmnestyTradeGothic.woff') format('woff'),
// 		 url('../fonts/AmnestyTradeGothic.ttf') format('truetype'),
// 		 url('../fonts/AmnestyTradeGothic.svg#AmnestyTradeGothic') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'ATG-BdCn20';
// 	src: url('../fonts/AmnestyTradeGothic-BdCn20.eot');
// 	src: url('../fonts/AmnestyTradeGothic-BdCn20.eot?#iefix') format('embedded-opentype'),
// 		 url('../fonts/AmnestyTradeGothic-BdCn20.woff') format('woff'),
// 		 url('../fonts/AmnestyTradeGothic-BdCn20.ttf') format('truetype'),
// 		 url('../fonts/AmnestyTradeGothic-BdCn20.svg#AmnestyTradeGothic-BdCn20') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// 	text-rendering: optimizeLegibility;
// }

// @font-face {
// 	font-family: 'ATG-Cn18';
// 	src: url('../fonts/AmnestyTradeGothic-Cn18.eot');
// 	src: url('../fonts/AmnestyTradeGothic-Cn18.eot?#iefix') format('embedded-opentype'),
// 		 url('../fonts/AmnestyTradeGothic-Cn18.woff') format('woff'),
// 		 url('../fonts/AmnestyTradeGothic-Cn18.ttf') format('truetype'),
// 		 url('../fonts/AmnestyTradeGothic-Cn18.svg#AmnestyTradeGothic-Cn18') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
