//CDN

//local
// TODO: these are imaginary - need to be replaced when we receive actual files
// @font-face {
//     font-family: 'FrutigerLTStd Bold';
//     src: url(FrutigerLTStdBold.woff);
//     font-weight: 700;
// }
// @font-face {
//     font-family: 'FrutigerLTStd Roman';
//     src: url(FrutigerLTStdRoman.woff);
//     font-weight: 400;
// }

//Fonts
// @mixin dagny-heavy{
//   font-family: "DagnyOT-Bold";
//   font-weight: 400;
//   font-style: normal;
// }
// @mixin dagny{
//   font-family: 'DagnyOT';
//   font-weight: 400;
//   font-style: normal;
// }
// @mixin dagny-light{
//   font-family: "DagnyOT-light";
//   font-weight: 400;
//   font-style: normal;
// }
// @mixin footer-font {
//   font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
//   font-size: 13px;
//   line-height: 2em;
//   font-weight: bolder;
// }

// @mixin font-headN4{
//   font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
//   font-weight: 400;
// }

// @mixin font-headN7{
//   font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
//   font-weight: 700;
// }

// @mixin font-primaryN7{
//   @mixin dagny-heavy;
// }
html {
  font-size: 16px;
}

strong{
  font-weight: 700;
}

em{
  font-style: italic;
}

//
//Body font
//
@mixin font-bodyN3{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 300;
  font-style: normal;
}
@mixin font-bodyN4{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-bodyN6{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 600;
  font-style: normal;
}


@mixin font-bodyN7{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin font-bodyI4{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-bodyI7{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 400;
  font-style: normal;
}

//
//Title font
//
@mixin font-headN3{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 300;
  font-style: normal;
}


@mixin font-headN4{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-headN6{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin font-headN7{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin font-headI4{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-headI7{
  font-family: "myriad-pro", "Myriad Pro Regular", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 400;
  font-style: normal;
}

//
//Decorative font
//
@mixin font-decoN4{
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-decoN7{
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin font-decoI4{
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-decoI7{
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}


//Sizes
@mixin fontSize($s: base){
  $font-to-em: map-get((
    small: 0.5rem,
    base: 1rem,
    medium: 1.3rem,
    large: 1.6rem,
    largerish: 2rem,
    larger: 2.4rem,
    titleLarge: 2.9rem,
    xlarge: 3rem,
    huge: 3.6rem,
    titleHuge: 4.3rem
  ), $s);
  font-size: $font-to-em;
}

//lineheight
$line-tightest: .96;
$line-tighter: 1;
$line-hero: 1.06;
$line-tight: 1.12;
$line-nearBase: 1.18;
$line-base: 1.26;
$line-loose: 1.33;
$line-loosest: 1.58;

//Line Heights
@mixin lineHeight-title--number {
  line-height: 0.7;
}
@mixin lineHeight-hero {
  line-height: 1.1;
}
@mixin lineHeight-campaigntext-main {
  line-height: 1em;
}
@mixin lineHeight-higlights {
  line-height: 1.5em;
}
@mixin lineHeight-title--text {
  line-height: 5.4em;
}
@mixin lineHeight-tight{
  line-height: 1.4;
}

@mixin line-hero {
  line-height: $line-hero;
}

@mixin line-tightest{
  line-height: $line-tightest;
}

@mixin line-tighter{
  line-height: $line-tighter;
}

@mixin line-tight{
  line-height: $line-tight;
}

@mixin line-nearBase{
  line-height: $line-nearBase;
}

@mixin line-base{
  line-height: $line-base;
}

@mixin line-loose{
  line-height: $line-loose;
}

@mixin line-loosest{
  line-height: $line-loosest;
}

//font size
@mixin fontSize-small{
  font-size: 0.5rem;
}
@mixin fontSize-smallish{
  font-size: (12 / 16) * 1rem;
}
@mixin fontSize-smaller{
  font-size: (14 / 16) * 1rem;
}
@mixin fontSize-base{
  font-size: 16px;
}
@mixin fontSize-biggerBase {
  font-size: (18 / 16) * 1rem;
}
@mixin fontSize-mediumSmall{
  font-size: (20 / 16) * 1rem;
}
@mixin fontSize-medium{
  font-size: (22 / 16) * 1rem;
}
@mixin fontSize-mediumLarge{
  font-size: (24 / 16) * 1rem;
}
@mixin fontSize-large{
  font-size: (25 / 16) * 1rem;
}
@mixin fontSize-largerish{
  font-size: (30 / 16) * 1rem;
}
@mixin fontSize-titleLarge{
  font-size: (30 / 16) * 1rem;
}
@mixin fontSize-xlarge{
  font-size: (32 / 16) * 1rem;
}
@mixin fontSize-huge{
  font-size: (30 / 16) * 1rem;
}


@mixin fontSize-responsive-smaller {
  font-size: 0.8vw;
}
@mixin fontSize-responsive-small {
  font-size: 0.9vw;
}
@mixin fontSize-responsive-smallish{
  font-size: 1.2vw;
}
@mixin fontSize-responsive-base {
  font-size: 1.3vw;
}
@mixin fontSize-responsive-halfLarger{
  font-size: 1.45vw;
}
@mixin fontSize-responsive-medium {
  font-size: 1.8vw;
}
@mixin fontSize-responsive-large {
  font-size: 2.4vw;
}
@mixin fontSize-responsive-larger{
  font-size: 2.9vw;
}
@mixin fontSize-responsive-massive {
  font-size: 15.3vw;
}

@mixin font-sansN7 {
  font-family: 'Frutiger Neue W01 Bd';
}

@mixin font-sansN4 {
  font-family: 'FrutigerLTStd Roman';
}
