.page-footer{
  background-color: $vdark-grey;
  padding: $footer-padding-md;
  @include footer-font;
  color: $beige;
}
.footer-legal {
  float: left;
  width: 50%;
  text-transform: uppercase;
  .logo {
    width: 250px;
    height: 62.5px;
    padding-bottom: 10px;
  }
  .accreditation {
    margin-top: 20px;
  }
}
.footer-links {
  float: left;
  width: 50%;
  margin-top: 27px;
  a {
    text-decoration: none;
    &:visited {
      color: $brand-green;
    }
  }
}
.footer-links--main {
  @include fontSize-small;
  display: inline-block;
  color: $brand-green;
  text-transform: uppercase;
  li {
    display: inline-block;
    margin-right: 11px;
  }
}
.footer-links--secondary {
  a {
    text-transform: uppercase;
    color: $beige;
    &:visited {
      color: $beige;
    }
  }
  li {
    display: inline-block;
  }
}
