.col-form{
  @media screen and (min-width: $screen-md){

  }
}

.form{
  @include formContainer;
  @include z-highest;

}
form {
  background: $green;

}
.form-navbar {
  background: $form-navbar-bgimage;
  width: 432px;
  height: 53px;

}
.form-header{
  padding: 30px;

  h3 {
    @include dagny-heavy;
    color: $white;
    @include fontSize-medium;
    text-transform: uppercase;
  }
  em {
    text-transform: none;
    color: $vdark-green;
  }
}
