@mixin formPadding{
  @media screen and (max-width: $screen-xxs-max){
    padding-left: 20px;  
    padding-right: 20px;
  }

  @media screen and (min-width: $screen-xs-min){
    padding-left: $form-padding;  
    padding-right: $form-padding;
  }

  @media screen and (min-width: $screen-md-min){
    padding-left: $form-padding;  
    padding-right: $form-padding;

  }
} 

//override bootstrap
label{
  font-weight: inherit;
}

.navbar-stepcontainer {
  padding-left: 0px;
}
.col-form{
  @media screen and (min-width: $screen-md){

  }
}

.form{
  background: $form-background;
  background-repeat: repeat-y;
  background-color: white;
  @include formContainer;
  @include z-highest;
}

//simplification for small monitors
.form.no-affix{
  @media screen and (min-width: $screen-sm){
    width: $form-width-sm;
  }

  @media screen and (min-width: $screen-md){
    width: $form-width-md;
  }

  @media screen and (min-width: $screen-lg){
  
  }

  @media screen and (min-width: $screen-xl){
    width: $form-width-xl;
  }
  position: absolute;
  right: 0 !important;

  .form-navbar{
    //background: $white;
  }
}

#grdonation form {
	
    background: $form-background;
    background-repeat: repeat-y;
    background-color: white;

  &.is-active{
    top: 0;
  }
}

#Donation-Amount-Other {
	border: 0px solid $white;
}

.form-header{
  background-color: $white;
  padding-top: $form-padding;
  padding-bottom: 0;
  @include formPadding;

  h3 {
    @include font-headN4;
    color: $green;
    @include fontSize-medium;
    @include lineHeight-hero;
    text-transform: uppercase;
  }
  
  strong{
    @include font-headN7;
  }

  em {
    @include font-headI7;
  }
}

//override bootstrap styling for more readable forms
.form-control{
  padding-top: 3px;
  padding-bottom: 3px;
  @include fontSize-base;
}

//increase the size of the error modal text
#validErrModal{
  @include fontSize-base;
}

@media screen and (max-width: $screen-xxs-max) {
  .form {
    background-color: $white;

    &.is-active{
      overflow-x: hidden;
      overflow-y: auto;
      top: 0;
    }

    &.is-dragging{
      transition: none;
    }
  }
  .form-navbar{
    background-color: $white;
  }
  
  .form-header{
    padding-right: $form-padding + 30px; //for the close button

    h3{
      @include fontSize-small;
    }
  }

  .formOpen {
    // @include dagny-heavy;
    @include fontSize-base;
    display: block;
    position: absolute;
    top: -3em;
    left: 0px;
    width: 100%;
    text-transform: uppercase;
    color: $white;
    height: 3em;
    border: 0;
    padding: 0 10px;
    background: none;
  }

  .js-formOpen-label{
    display: block;
    line-height: 3em;
    background: $msf-red;
    border-radius: 5px 5px 0 0;
    box-shadow: -1px -1px 2px $black;
    box-shadow: -1px -1px 2px rgba($black, 0.3);
  }

  .formClose {
    @include font-bodyN7;
    @include fontSize-small;
    font-family: "freight-sans-pro", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    display: block;
    background: grey;
    position: absolute;
    border: 0;
    color: grey;
    right: -2px;
    top: 0px;
    width: auto;
    background: lightgrey;
    opacity: 1;
    line-height: 0em;
    cursor: pointer;
    width: 30px;
    height: 26px;
    outline: none;
    padding-bottom: 8px;

    &:hover{
      opacity: 0.8;
    }

    &:active{
      opacity: 1;
    }
  }
}

//Sidebar form experience
@media screen and (min-width: $screen-xs-min){
  #grdonation,
  .form form{
    height: 100%;
  }

  #grdonation{
    //padding-top: $form-navbar-height;
  }

  #grdonation form{
    //margin-top: -1 * $form-navbar-height;
  }

  .affix {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .form-navbar {
    background: $form-background;
    background-repeat: repeat-y;
    background-color: white;  // overflow-y: auto;
    width: 100%;
    //height: $form-navbar-height;
    @include z-highest;

  }

  .formOpen,
  .formClose{
    display: none;
  }
}


#grdonation .page{
  @include formPadding;
}

.eaErrorMessage{
  display: none;
}

#Payment_CurrencyField{
  display:none;
}

.no-placeholder .eaFormElementLabel{
  display: block !important;
}



.inline-block-field-wrap {
  display: inline-block;
  position: relative;
  float: left;

  &.full-wrap {
    width: 100%;
    clear: both;
    // float: none;
  }
  &.one-quarter-wrap {
    width: 24%;
  }
  &.half-wrap {
    width: 49%;
  }
  &.three-quarter-wrap {
    width: 74%;
  }

  &.last-wrap {
    margin-left: 2%;
    // text-align: right;
    clear: none;
  }

  &.hide-label {
    .eaFormElementLabel {
      height: 0;
      margin-top: 0 !important;
    }
  }
}