@mixin mobile {
  @media screen and (max-width: #{$screen-xxs-max}){
    @content;
  }
}

@mixin mobileAndTablet{
  @media screen and (max-width: #{$screen-xs-max}){
    @content;
  }
}

@mixin tablet{
  @media screen and (min-width: #{$screen-xs-min}) and (max-width: #{$screen-sm-max}){
    @content;
  }
}

@mixin tabletPlus{
  @media screen and (min-width: #{$screen-xs-min}){
    @content;
  }
}

@mixin tabletAndSmallDesktop{
  @media screen and (min-width: #{$screen-xs-min}) and (max-width: #{$screen-md-max}){
    @content;
  }
}

@mixin smallDesktop{
  @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}){
    @content;
  }
}

@mixin smallDesktopMax{
  @media screen and (max-width: #{$screen-sm-max}){
    @content;
  }
}

@mixin smallDesktopPlus{
  @media screen and (min-width: #{$screen-md-min}){
    @content;
  }
}

@mixin smallDesktopMin{
  @media screen and (max-width: #{$screen-md-max}){
    @content;
  }
}

@mixin desktop{
  @media screen and (min-width: #{$screen-lg-min}){
    @content;
  }
}

@mixin shortDesktop{
  @media only screen and (max-width: 1439px) and (min-width:991px) and (max-height:699px){
    @content
  } 
}


.main {
  height: 100%;

  // @include mobile{
  //   padding-bottom: 100px;
  // }
}

.main>.donation-form-wrapper {
    min-height: 100%;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.donation-form-wrapper {
    max-width: $page-max-width;
    margin-left: auto;
    margin-right: auto;
}

/**
 * formContainer
 * Container styling for wherever the form is supposed to go
 */


@mixin formContainer{

  @include mobile{
    position: fixed;
    bottom: -100%;
    // left: 0;
    height: 100%;
    width: 100%;
    // padding: 20px;

    @include z-extraHighest;
    -webkit-backface-visibility: hidden; //may improve rendering of the fixed form
    translate: transform3d(0,0,0);
  }

  // @include smallDesktopPlus{
  //   position: absolute;
  //   //top: $header-height-xs;
  //   // right: 0;
  //   height: 100%;
  //   width: $form-width-xs;
  // }

  @include tablet{
    position: fixed;
    // width: 100%;
    //top: $header-height-sm;
    // right: 0;
    height: 100%;
    width: $form-width-sm;
  }

  @include smallDesktopPlus{
    position: fixed;
    //top: $header-height-md;
    // right: 0;
    width: $form-width-md;
    height: 100%;

  }

  @media screen and (min-width: $screen-lg){

  }

  @media screen and (min-width: $screen-xl){
    // position: absolute;
    // top: $header-height-xl;
    right: 0;
    width: $form-width-xl;
    height: 100%;
  }
}

/**
 * contentContainer
 */
@mixin contentContainer {

  width: 100%;
  float: left;
     
  @media screen and (min-width: $screen-xxs-max) {
		
  }
 
  @media screen and (max-width: $screen-xs-max) {
	  	  padding-bottom: 100px;
  }


  @media screen and (min-width: $screen-sm-min) {
    padding-right: $form-width-xs;
    //padding-left: $content-overlap-md;
    //margin-left: -1 * $content-overlap-md;
    //margin-right: -1 * $content-overlap-md;
  }

  @media screen and (min-width: $screen-sm) {
    padding-right: $form-width-sm;
    //margin-left: -1 * $content-overlap-md;
    //margin-right: -1 * $content-overlap-md;
  }

  @media screen and (min-width: $screen-md) {
    padding-right: $form-width-md;
    //padding-left: $content-overlap-md;
    //margin-left: -1 * $content-overlap-md;
    //margin-right: -1 * $content-overlap-md;
  }

  @media screen and (min-width: $screen-lg) {
	  padding-right: $form-width-xl;  
  }

  @media screen and (min-width: $screen-xl) {
  	padding-right: $form-width-xl;  
  }
}

/*
 * Mobile Padding
 */
@mixin mobileGutter {
  padding-left: $campaign-paddingleft-xxs;
  padding-right: $campaign-paddingleft-xxs;
}