/**
 * formContainer
 * Container styling for wherever the form is supposed to go
 */
@mixin formContainer{
  
  @media screen and (max-width: $screen-xs-max){
    position: fixed;
    width: 100%;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;    
  }


  @media screen and (min-width: $screen-xs){
    
  }

  @media screen and (min-width: $screen-sm){

  }

  @media screen and (min-width: $screen-md){
    position: fixed;
    top: 0;
    right: 0;
    width: $form-width-md;
    height: 100%;
  }

  @media screen and (min-width: $screen-lg){

  }

  @media screen and (min-width: $screen-xl){

  }
}

/**
 * contentContainer
 */
@mixin contentContainer{
  @media screen and (max-width: $screen-xs-max){
  }


  @media screen and (min-width: $screen-xs){
    
  }

  @media screen and (min-width: $screen-sm){

  }

  @media screen and (min-width: $screen-md){
    padding-right: $form-width-md + $content-overlap-md;
    padding-left: $content-overlap-md;
    margin-left: -1 * $content-overlap-md;
    margin-right: -1 * $content-overlap-md;

  }

  @media screen and (min-width: $screen-lg){

  }

  @media screen and (min-width: $screen-xl){
    padding-right: $form-width-xl + $content-overlap-xl;
    padding-left: $content-overlap-xl;
    margin-left: -1 * $content-overlap-xl;
    margin-right: -1 * $content-overlap-xl;
  }  
}