/**
 * formContainer
 * Container styling for wherever the form is supposed to go
 */
 .affix {
   position: fixed !important;
   top: 0 !important;
   bottom: 0 !important;
 }
@mixin formContainer{

  @media screen and (min-width: $screen-xxs-max){
    position: absolute;
    width: 100%;
    top: $header-height-xxs;
    right: 0;
    height: 100%;
    width: $form-width-xxs;
  }


  @media screen and (min-width: $screen-xs){
    position: absolute;
    width: 100%;
    top: $header-height-xs;
    right: 0;
    height: 100%;
    width: $form-width-xs;
  }

  @media screen and (min-width: $screen-sm){
    position: absolute;
    width: 100%;
    top: $header-height-sm;
    right: 0;
    height: 100%;
    width: $form-width-sm;
  }

  @media screen and (min-width: $screen-md){
    position: absolute;
    top: $header-height-md;
    right: 0;
    width: $form-width-md;
    height: 100%;

  }

  @media screen and (min-width: $screen-lg){

  }

  @media screen and (min-width: $screen-xl){

  }
}

/**
 * contentContainer
 */
@mixin contentContainer{
  @media screen and (min-width: $screen-xxs-max){
    padding-right: $form-width-xxs;
    padding-left: $content-overlap-md;
    margin-left: -1 * $content-overlap-md;
    margin-right: -1 * $content-overlap-md;
  }
  @media screen and (max-width: $screen-xs-max){
  }


  @media screen and (min-width: $screen-xs){

  }

  @media screen and (min-width: $screen-sm){
    padding-right: $form-width-sm;
    padding-left: $content-overlap-md;
    margin-left: -1 * $content-overlap-md;
    margin-right: -1 * $content-overlap-md;
  }

  @media screen and (min-width: $screen-md){
    padding-right: $form-width-md;
    padding-left: $content-overlap-md;
    margin-left: -1 * $content-overlap-md;
    margin-right: -1 * $content-overlap-md;

  }

  @media screen and (min-width: $screen-lg){

  }

  @media screen and (min-width: $screen-xl){
    padding-right: $form-width-xl;
    padding-left: $content-overlap-xl;
    margin-left: -1 * $content-overlap-xl;
    margin-right: -1 * $content-overlap-xl;
  }
}
