.hero {
  position: relative; //for the overflow control
  overflow: hidden;
  height: 100%;
  background: $hero-bgimage;
  background-size: cover;
  background-position: center;
}

.page-title {
  color: $white;
  position: relative;
  @include z-high;
}

.hero-text {
  color: $white;
  position: relative;
  @include z-high;
}

.hero-content {
  max-width: $page-text-max-width;
}

.heroTitle {
  @include font-headN4;
  @include fontSize-large;
  @include lineHeight-hero;
  position: relative;
  color: $white;
  padding: $heroTitle-padding;

  strong,
  em {
    @include font-headI4;
    text-transform: uppercase;
  }

  em {
    color: $light-green;
  }

  @media screen and (max-width: $screen-sm-max){
    padding: $heroTitle-padding-sm;
  }
}

.heroCaption {
  @include fontSize-small;
  @include font-bodyN4;
  position: absolute;
  left: 3%;
  bottom: 0;
  color: $white;
  padding: $hero-captionpadding-md;
}

// better centering for browsers that  CSS transforms
html.csstransforms {
  @include z-high;
}

.hero-image img {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
  -webkit-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate(-50%,-50%,0);
}

@media screen and (max-width: $screen-xs-max),
screen and (max-device-width:$screen-xs-max) {
  body:after {
    content: "mobile";
  }

  .heroTitle {
    @include fontSize-medium;
  }
}

@media screen and (min-width: $screen-sm) {
  .heroTitle {
    @include fontSize-medium;
  }
}

@media screen and (min-width: $screen-md) {
  .heroTitle {
    @include fontSize-medium;
  }
}

@media screen and (min-width: $screen-lg) {
  .heroTitle {
    @include fontSize-large;
  }
}
