.hero {
  position: relative; //for the overflow control
  overflow: hidden;
  height: 545px;
  background: $hero-bgimage;
  background-size: cover;
  background-position: center;
  @include mobile {
    background-image: none !important;
    height: auto;
  }
}

.page-title {
  color: $white;
  position: relative;
  @include z-high;
}

.hero-text {
  color: $white;
  position: relative;
  @include z-high;
}

.hero-content {
  max-width: $page-text-max-width;
}

.campaign {
  .heroImageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include mobile {
      position: relative;
      width: 100%;
      height: auto;
      top: auto;
      left: auto;
    }
  }
  .heroImage {
    display: none;
    @include mobile {
      display: block;
      width: 100%;
    }
  }
  .heroTitle {
    @include font-headN6;
    @include fontSize-largerish;
    @include line-hero;
    position: relative;
    color: $white;
    padding: $heroTitle-padding;
    padding-left: $campaign-paddingleft-md;

    strong,
    em {
      @include font-headN7;
      text-transform: uppercase;
    }

    em {
      color: $light-green;
    }

    @include smallDesktopMax {
      padding: $heroTitle-padding-sm;
    }
    @include mobile {
      display: block;
      background-color: $dark-green;
      padding: $heroTitle-padding-xxs;
    }
  }
}

.photoCaption {
  @include fontSize-smallish;
  @include font-bodyN3;
  position: absolute;
  left: 0;
  bottom: 0;
  color: $white;
  padding: $hero-captionpadding-md;
  padding-left: $campaign-paddingleft-md;
  @include mobile {
    @include mobileGutter;
  }
}

// better centering for browsers that  CSS transforms
html.csstransforms {
  @include z-high;
}

.hero-image img {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
  -webkit-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate(-50%,-50%,0);
}

//add hero video support

.is-videoPlaceholder{
  //on .hero
  .heroTitle{
    padding-top: 20%;
  }

  .glyphicon{
    // font-size: 2em;

    //extra
    margin-bottom: 0.5em;
    color: $cta-red;
    font-size: 1.5em;
    background: $white;
    border-radius: 50%;
    text-align: center;
    padding: 0.25em 0.2em 0.25em 0.3em; //to visually center the play icon
    text-shadow: none;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  }
}

.js-hero.is-videoContainer{
  //on .hero
  height: auto;

  .heroTitle{
    display: none;
  }
}

.js-hero-video{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;

  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: $screen-xs-max),
screen and (max-device-width:$screen-xs-max) {
  body:after {
    content: "mobile";
  }

  .heroTitle {
    @include fontSize-medium;
  }
}

@media screen and (min-width: $screen-sm) {
  .heroTitle {
    @include fontSize-medium;
  }
}

@media screen and (min-width: $screen-md) {
  .heroTitle {
    @include fontSize-medium;
  }
}

@media screen and (min-width: $screen-lg) {
  .heroTitle {
    @include fontSize-large;
  }
}
