@mixin defaultInputStyles {
  color: $vdark-grey;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid $input-border-grey;
  border-radius: 0px;
  @include font-bodyN4;
}

input[type="text"], select, textarea {
  &.form-control {
    @include defaultInputStyles;
  }
  @include defaultInputStyles;
}

#top {
  input[type="text"], select, textarea {
    @include defaultInputStyles;
  }
}

textarea {
  &.form-control {
    padding-top: 8px;
    height: 6em;
  }
}

input[type="text"], textarea {
    @include input-placeholder {
        color: $input-placeholder-grey;
    }
}

.placeholder .text-wrap label{
  display: none;
}

.form-title {
  color: $magenta;
  @include font-bodyN7;
  @include fontSize-base;
}

.form-text {
  color: $magenta;
  @include font-bodyN4;
  @include fontSize-smallish;
}

.cta-wrap {

}

.cta, input[type="submit"], button[type="submit"] {
  @include cta-button--magenta;
}

.inline-block-field-wrap {
  display: inline-block;
  position: relative;
  float: left;

  &.full-wrap {
    width: 100%;
    clear: both;
    float: none;
  }
  &.one-quarter-wrap {
    width: 24%;
  }
  &.half-wrap {
    width: 49%;
  }
  &.three-quarter-wrap {
    width: 74%;
  }
  
  &.last-wrap {
    margin-left: 2%;
    // text-align: right;
    clear: none;
  }

  &.hide-label {
    .eaFormElementLabel {
      height: 0;
      margin-top: 0 !important;
    }
  }
}

.list-checkbox-wrap {
  ul li {
    display: inline-block;
    width: 50%;
  }
}