//clear out everything we don't need
.post-action {
  .row{
    margin: 0;
  }

  .col-text{
    float: none;
  }

  .col-form{
    display: none;
  }

  .js-hero{
    height: auto;
  }

  .campaign{
    padding: 0;
    margin: 0;

    p{
      @include fontSize-biggerBase;
      color: $white;
      max-width: 40em;
      // margin: 0 auto;
    }

    &:after{
      display:none;
    }
  }

  .page-logo{

    @include mobile{
      left: 50px;
      width: 150px;
    }

    @include tabletPlus{
      left: 140px;
    }
  }

  .page-header{
    position: relative;
  }

  .heroTitle{
    text-transform: uppercase;
    @include font-bodyN4;

    @include mobile{
      // text-align: center;
      @include fontSize-large;
      padding: 75px 0 2em;
    }
    @include tabletPlus{
      // left: 50%;
      // width: 50%;
      @include fontSize-largerish;
      // padding: 2em 0;
      padding: 4em 0 1em;
      color: $vlight-green;
    }
  }

  @mixin heroContent{
    max-width: 50%;
    margin-bottom: 1rem;
  }
  .heroTitle{
    @include tabletPlus{
      @include heroContent;      
    }
  }

  .hero p{
    @include heroContent;
  }

  .heroContent-cta{
    color: $vlight-green;
  }

  // .js-campaign:before{
  //   content:" ";
  //   display: block;
  //   height: 20px;
  //   background: image-url("stripe.png");
  // }


  .mobile-center{
    max-width: 715px;
    margin: 0 auto;

    @include mobile{
      padding: 0 20px;
    }
  }

  .heroSummary{
    background: $vlight-grey;
    padding: 1em 29px;
    border-radius: 1em 1em 0 0;
    margin-top: 5em;

    p{
      max-width: 100%;
      margin-bottom: 0;
    }

    &:after{
      content: " ";
      display: block;
      height: 13px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      @include background(linear-gradient(to top, rgba($dark-grey, 0.5), rgba($dark-grey, 0)));
    }
  }

  .campaign p.heroSummary-details{
    color: $light-grey;
    @include fontSize-smaller;
  }

  .campaign p.heroSummary-message{
    color: $black;
    @include fontSize-smaller;
  }
  
  .sharingSection-title{
    max-width: 700px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 20px 20px 0;
    @include font-bodyN7;
    @include fontSize-large;
  }


  .social-block {
    margin-top: 2em;
    margin-bottom: 8em;
    // overflow: hidden;
    .caption {
      font: 38px/38px "AlternateGothic";
      padding: 0 15px 30px 49px;
      position: relative;
      // &:after {
      //  background: linear-gradient(to bottom, rgba(196,196,196,0.65) 0%,rgba(0,0,0,0) 100%);
      //  content: "";
      //  position: absolute;
      //  height: 20px;
      //  bottom: 0;
      //  left: 0;
      //  right: 2px;
      // }
    }
    .social {
      padding: 20px 34px 30px 34px;
      overflow: hidden;
      text-align: center;
      font-size: 0;
      li {
        display: inline-block;
        margin-right: 25px;
        &:last-child {
          margin-right: 0 !important;
        }
        a {
          display: block;
          width: 44px;
          height: 45px;
        }
      }

      .facebook {
        background: image-url("fb-2015.png") no-repeat center;
      }
      .twitter {
        background: image-url("tw-2015.png") no-repeat center;
      }
      .googleplus {
        background: image-url("gp.png") no-repeat center;
      }
      .linkedin {
        background: image-url("in.png") no-repeat center;
      }
      .email {
        width: 51px;
        background: image-url("ml.png") no-repeat center;
      }
    }
  }

  .sharing-title{
    color: $dark-green;
    @include lineHeight-hero;
  }

  .social-title{
    color: $white;
    @include fontSize-medium;
    text-align: center;

    @media screen and (min-width: $screen-lg){
      @include fontSize-responsive-medium;
    }
  }

  //hide irrelevant sections
  // .js-hero,
  // .js-impact,
  // .js-quote,
  // .js-accountable,
  // .js-gift,
  // .js-response,
  // .js-policy{
  //   display: none;
  // }
}