//clear out everything we don't need
.post-action {
  
  .row{
    margin: 0;
  }
  .formClose, .formOpen {
    display: none;
  }

  .col-text{
    float: none;
  }

  .col-form{
    display: none;
  }

  .js-hero{
    height: auto;
  }
  
  .hero--post-action {
    height: 430px;
  }
  

  .campaign{
    padding: 0;
    margin: 0;
  
    p{
      @include gotham-fontSize-biggerBase;
      color: $white;
      max-width: 30em;
      // margin: 0 auto;
    }

    &:after{
      display:none;
    }
  }
  
  .heroImage {
    right: 0;
  }
  
  .js-hero-image {
    @media screen and (max-width: 753px) {
      display: none;
    }
  }

  .campaign .heroImageContainer {
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .page-logo{
    padding-left: 29px;
    margin-left: 0;
    @include mobile{
      left: 0px;
      padding-left: 20px;
      position: relative;
      // width: 150px;
    }

    @include tabletPlus{
      // left: 140px;
      height: auto;
    }
  }

  .page-header--post-action{
    position: relative;
    background: transparent;
  }
  
  .post-action-subtitle--container {
    max-width: $post-action-content-width;
    margin: 0 auto;
  }
  
  .post-action-subtitle {
    color: $black;
    max-width: $post-action-content-width;
    margin: 0 auto;
    @include fontSize(medium);
    line-height: 1.4;
//    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 31px;
//    padding-left: 20px;
    
    @media screen and (max-width: 690px) {
      padding-right: 0;
    }
  }
  
  .post-action-titlewrapper {
    width: 100%;
    margin:auto;
    bottom: 17px;
    position: absolute;
    
    .title--top {
      padding-bottom: 10px;
      @include fontSize(larger);
      color: $brand-secondary-blue-light;
      font-weight: 700;
      position: relative;
    }
    
    .title--bottom {
      position: relative;
      line-height: 1.2;
      font-weight: 400;
      font-size: 1.7rem;
      letter-spacing: 1px;
      
      @media screen and (max-width: 421px) {
        @include fontSize(large);
      }
    }
  }

  .hero--post-action h1{
    max-width: $post-action-content-width;
    margin: 0 auto;
//    padding: 0 30px;
    position: absolute;
    color: $white;
    z-index: 100;
//    padding-left: 38px;
    
    @media screen and (max-width: 690px) {
      padding-left: 20px;
    }
    
    @include fontSize(large);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
    
      
  }
  
//  .post-action-hero-title {
//    position:absolute;
//    bottom: 30px;
//    
//    @include tabletPlus {
//      @include fontSize(titleLarge);
//    }
//  }

  @mixin heroContent{
    @include tabletPlus{
      max-width: 50%;
      margin-bottom: 1rem; 
    }
  }
  .heroTitle{
    @include heroContent;
  }
  .hero p{
    @include heroContent;

    @include mobile{
      // @include fontSize-large;
      margin-top: .4em;
    }
  }

  .heroContent-cta{
    color: $vlight-green;
    font-style: normal;
  }

  // .js-campaign:before{
  //   content:" ";
  //   display: block;
  //   height: 20px;
  //   background: image-url("stripe.png");
  // }


  .mobile-center{
    max-width: $post-action-content-width;
    margin: 0 auto;

    @include mobile{
      padding: 0 0px;
    }
  }

  .hero .mobile-center{
    @include mobile{
      background: $brand-primary-alternate;
      color: $white;
    }
  }

  .heroSummary{
    background-color: $brand-primary-alternate;
    @include font-headN2;
    color: $white;
    @include mobile{
      padding: 28px 20px;
      // margin: 28px -11px 0;
      background-color: $white;
    }
    @include tabletPlus{
      padding: 1em 29px;
      border-radius: 1em 1em 0 0;
      // margin-top: 5em; 
    }

    p{
      max-width: 100%;
      margin-bottom: 0;
      @include mobile {
        padding-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    
    &:after{
      @include tabletPlus{
        content: " ";
        display: block;
        height: 13px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include background(linear-gradient(to top, rgba($black, 0.5), rgba($black, 0)));        
      }
    }
  }
  
//  .learn-more {
////    border-bottom: 5px solid $rethink-post-action-text; 
//    .sharing-title {
//      text-transform: uppercase;
//      padding-top: 59px;
//      padding-bottom: 59px;
//      @include mobile {
//        padding-top: 0;
//        margin-top: 0;
//      }
//    } 
//    @include mobile {
//      // margin: 0 20px;
//    }
//    p {
//        color: $rethink-post-action-grey;
//        text-transform: uppercase;
//        font-size: 1.2em;
//        padding-top: 60px;
//        padding-left: 29px;
//        padding-right: 23px;
//        padding-bottom: 0;
//        @include mobile {
//          padding-top: 0px;
//          padding-left: 0px;
//          padding-right: 0px;
//          @include gotham-fontSize-large;
//          @include font-headN3;
//          font-weight: 200;
//          text-transform: none;
//          color: $black;
//        }
//    }
//    a {
//      color: $brand-primary-alternate;
//      text-transform: lowercase;
//      text-decoration: underline;
//      @include font-headN3;
//      @include gotham-fontSize-biggerBase;
//    }
//  }
//
//
//  .campaign p.heroSummary-details{
//    // color: $light-grey;
//    color: $black;
//    @include gotham-fontSize-large;
//
//    @include tabletPlus{
//      color: $white;
//      @include gotham-fontSize-smaller;
//    }
//  }

  .campaign p.heroSummary-message{
    color: $black;
    @include gotham-fontSize-large;

    @include tabletPlus{
      color: $white;
      @include gotham-fontSize-smaller;
    }
  }
  
  .sharingSection-title{
    max-width: $post-action-content-width;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 20px 20px 0;
    @include font-bodyN7;
    @include fontSize-large;
  }


  .social-block {
    margin-top: 2em;
    margin-bottom: 8em;
    // overflow: hidden;
    .caption {
      font: 38px/38px "AlternateGothic";
      padding: 0 15px 30px 49px;
      position: relative;
      // &:after {
      //  background: linear-gradient(to bottom, rgba(196,196,196,0.65) 0%,rgba(0,0,0,0) 100%);
      //  content: "";
      //  position: absolute;
      //  height: 20px;
      //  bottom: 0;
      //  left: 0;
      //  right: 2px;
      // }
    }
    .social {
      padding: 20px 34px 30px 34px;
      overflow: hidden;
      text-align: center;
      font-size: 0;
      li {
        display: inline-block;
        margin-right: 25px;
        &:last-child {
          margin-right: 0 !important;
        }
        a {
          display: block;
          width: 44px;
          height: 45px;
        }
      }

      .facebook-image {
        background: image-url("./img/social-img.jpg") no-repeat center;
      }
      .twitter-image {
        background: image-url("./img/social-img.jpg") no-repeat center;
      }
      .googleplus {
        background: image-url("gp.png") no-repeat center;
      }
      .linkedin {
        background: image-url("in.png") no-repeat center;
      }
      .email {
        width: 51px;
        background: image-url("ml.png") no-repeat center;
        .mobile-center {
          border-bottom: 0px;          
        }
      }
    }
  }
  .email .mobile-center {
    border-bottom: 0px;          
  }
  .sharing-title{
    text-transform: uppercase;
    color: $brand-tertiary-green;
    line-height: 1.2;
    letter-spacing: 0.5px;
    @include font-bodyN6;
    font-size: 1.4rem;
    font-weight: 500;
    max-width: 90%;
    
    @include mobile{
      margin-top: 0px;
      padding-bottom: 0px !important;
//      margin-bottom: 30px;
    }
  }

  .social-title{
    color: $white;
    @include fontSize-medium;
    text-align: center;

    @media screen and (min-width: $screen-lg){
      @include fontSize-responsive-medium;
    }
  }

  //hide irrelevant sections
  // .js-hero,
  // .js-impact,
  // .js-quote,
  // .js-accountable,
  // .js-gift,
  // .js-response,
  // .js-policy{
  //   display: none;
  // }
}

.share-block--last {
  padding-bottom: 50px;
}

.post-action-logo-container {
  position: relative;
  top: 25px;
  width: $post-action-content-width;
  margin:auto;
  z-index: 1000;
  padding-left: 30px;
}