#upsell-modal{
  @include background($upsell-overlay-background);
}

.upsell-container{
  display: table-row;

}

//position
.upsell-modal--body{
  background: $upsell-background;
  border-radius: 0;
  border: 0;
  padding: 0;
  top: 100px;
}

.upsell-modal--body{
  @include transform(translate(0,0));
  top: 0 !important;
}

.upsell-panel{
  display: table-cell;
  vertical-align: middle;
  padding: 45px 35px 25px;
}

.upsell-cta{
  color: $upsell-cta-colour;
  text-transform: uppercase;
  width: 40%;
  font-size: 3.6em;
  line-height: .8;
}

.upsell-title{
  font-size: 1em; //override bootstrap's sizes
  color: $upsell-colour;
  @include dagny-heavy;
  @include lineHeight-hero;
}

.upsell-title--highlight{
  color: $upsell-highlight-colour;
}

.upsell-copy{
  width: 60%;
  position: relative;
  color: $white;
  @include fontSize-base;
}

.upsell-copy--cta{
  color: $upsell-highlight-colour;
  margin-top: 1.2em;
}

.upsell-subtitle{
  font-size: 2em;
}

$upsell-recommendation-padding: 5px;
.upsell-recommendation{
  // background: lighten($colour_purple, 20%);
  color: $upsell-colour;
  // padding: $upsell-recommendation-padding;
  border-radius: $upsell-recommendation-padding;
  overflow: hidden;
  // font-size: 1.2em;
  margin-top: .6em;
  box-shadow: 1px 1px 2px $black;
  box-shadow: 1px 1px 2px rgba($black, 0.3);
}

.upsell-recommendation--amount{
  background: $white;
  color: $black;
  padding: 0 10px;
  border-radius: 3px;
  margin-right: 10px;
  float: left;
  min-height: 2.4em;
  // font-size: 1.5em;
  line-height: 2.4em;

  em{
    font-style: normal;
  }
}

.upsell-recommendation--label{
  @include background($upsell-cta-colour);
  padding: 10px 4em;
  @include lineHeight-hero;

  @media screen and (max-width: $screen-xxs-max){
    padding-left: 2em;
    padding-right: 2em;
  }
}

button.upsell-modal--close{
  position: absolute;
  height: 38px;
  width: 38px;
  // background: url($upsell-close);
  top: 0;
  right: 0;
  margin-top: -19px;
  margin-right: -19px;
  opacity: 1;
  // text-indent: -99px;
  overflow: hidden;
  border-radius: 50%;
  @include background($upsell-close-background);
  color: $upsell-close-colour;
  font-size: 30px;
  text-shadow: none;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.7;
  }
}

.upsell-confirm{
  display: block;
  background: $upsell-action-background;
  // margin:0 -1*$upsell-recommendation-padding -1*$upsell-recommendation-padding;
  margin-top: -2px;
  @include cta-button-gradient--red;
  text-align: center;
  padding: 1em;
  color: $upsell-colour;
  @include font-primaryN7;

  &:hover{
    opacity: 0.8;
    color: $upsell-colour;
  }
  &:active{
    opacity: 0.7;
  }
}

.upsell-deny{
  margin: 1.5em 0 1em;

  a{
    color: $beige;
    text-decoration: underline;
  }
}

@media screen and (min-width: $screen-sm){
  .upsell-modal--body{
    width: 720px;
  }
}

@media screen and (min-width: $screen-md){
  .upsell-modal--body{
    width: 800px;
  }
}

@media screen and (max-width: $screen-sm-max){
  .upsell-recommendation{
    max-width: 350px;
    margin: 1.5em auto;
  }
}

@media screen and (max-width: $screen-xs-max){
  .upsell-container{
    display: block;
  }

  .upsell-cta,
  .upsell-copy{
    display: block;
    width: 100%;
  }


  .upsell-cta{
    font-size: 3em;
    padding-top: 25px;
    padding-top: 25px;
  }

  .upsell-copy{
    padding-top: 25px;
    &:after{
      display: none;
    }
  }

  .upsell-title{
    margin-top: 0;
  }

  .upsell-subtitle{
    margin-top: 0;
  }

  .upsell-modal--body{
    max-height: 100%;
    overflow-y: auto;
  }

  button.upsell-modal--close{
    margin: 0;
    text-indent: 0;
    background: none;
    color: $upsell-colour;
    text-shadow: 0 -2px 0 $black;
    opacity: 0.4;

    &:hover{
      opacity: 0.6;
    }

    &:active{
      opacity: 0.8;
    }
  }

  .upsell-cta{
    font-size: 1.8em;
    padding: 25px 20px;
  }
  
  .upsell-copy{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    @include fontSize-smaller;
  }

  .upsell-subtitle{
    display: none;
  }
  .upsell-recommendation{
    margin-top: 5px;
    font-size: 1em;
  }
  .upsell-recommendation--label{
    padding-bottom: 5px;
    min-height: 3.2em;
  }
  .upsell-confirm{
    padding: 0.5em;
  }
  .upsell-deny{
    margin: 2em 0 0;
  }
}

//nicer modal positioning for flexbox-supporting browsers
html.flexbox{
  #upsell-modal.in{
    display: flex !important;
    height: 100%;
  }

  .upsell-modal--body{
    margin: auto;
  }
}