#upsell-modal{
  @include background($upsell-overlay-background);
}

.upsell-container{
  display: table-row;

}

//position
.upsell-modal--body{
  background: $upsell-background;
  border-radius: 0;
  border: 0;
  padding: 0;
  top: 100px;
}

.upsell-modal--body{
  @include transform(translate(0,0));
  top: 0 !important;
}

.upsell-modal--body p, .upsell-modal--body ul{
  margin-bottom: 1em;
  @include gotham-fontSize-base;
  @include line-loose;  
  @include font-bodyN4;
  color: $upsellCopy-colour;
}

.upsell-panel{
  display: table-cell;
  vertical-align: middle;
  padding: 33px 35px 13px;
}

.upsell-cta{
  height: 382px;
  color: $upsell-cta-colour;
  width: 40%;
  font-size: 2.6em;
  line-height: .8;
  background-image: url("../img/Tioman1.png");
  vertical-align: bottom;
  padding-bottom: 33px;
  background-size: cover;
}

.upsell-title {
  color: $white;
  font-size: 1em; //override bootstrap's sizes
  letter-spacing: 1px;
  font-size: 2.4rem;
  @include font-headN7;
  line-height: $line-tighter;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  
  span {
    color: $brand-secondary-blue-light;
//    @include font-headN4;
    @include fontSize(largerish);
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 768px) {
  .upsell-title {
    padding-left: 0;
    padding-right: 0;
  }
}

.upsell-title--top {
  padding-bottom: 7px;
}
  
.upsell--line-height-increased{
 padding-top: 5px;
}

.upsell-copy{
  width: 55%;
  position: relative;
  color: $black;
  background: $brand-tertiary-sand-light;
  @include font-bodyN4;
  ul {
    list-style: disc inside;
  }
}

.upsell-copy--cta{
  color: $upsell-highlight-colour;
  margin-top: 1.2em;

  @include font-bodyN7;
}

.upsell-subtitle{
  font-size: 2em;
  margin-bottom: 0.5em;
  color: $black;
  @include gotham-fontSize-base;
  @include line-base;
}

$upsell-recommendation-padding: 5px;

.upsell-recommendation{
  color: $upsellRecommendation-colour;
  border-radius: $upsell-recommendation-padding;
  overflow: hidden;
  margin-top: 1.3em;
  width: 82%;
  margin: auto;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
  
  p {
    margin-bottom: 0.8em;
  }
  p strong {
    color: #cb2f71;
  }
}

.upsell-recommendation--symbol{
  float: left;
  line-height: 2em;
  padding-right: 6px;
  padding-top: 2px;
}

.js-monthly-donation-amount{
  background: $white;
  color: $black;
  padding: 0 21px;
  border-radius: 3px;
  margin-right: 10px;
  float: left;
  min-height: 32px;
  // font-size: 1.5em;
  line-height: 32px;
  width: 3.8em;
  border: 2px solid $formInput-border;
  margin-top: -1px;
  font-size: 18px;
}

.upsell-recommendation--label{
  @include background($upsell-cta-colour);
  padding: 10px 48px;
  line-height: 1.3;

  @media screen and (max-width: $screen-xxs-max){
    padding-left: 2em;
    padding-right: 2em;
  }
}

button.upsell-modal--close{
  position: absolute;
  height: 38px;
  width: 38px;
  // background: url($upsell-close);
  top: 0;
  right: 0;
  margin-top: -19px;
  margin-right: -19px;
  opacity: 1;
  // text-indent: -99px;
  overflow: hidden;
  padding-bottom: 5px;
  border-radius: 50%;
  @include font-headN7;
  @include background($upsell-close-background);
  color: $upsell-close-colour;
  font-size: 30px;
  text-shadow: none;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.7;
  }
}

.upsell-confirm{
  display: block;
  background: $upsell-action-background;
  margin-top: -2px;
  text-align: center;
  padding: 10px;   
  color: $upsellConfirm-colour;
  @include font-bodyN4;
  border: none;
  background: linear-gradient(to top, darken($upsell-action-background,5%), $upsell-action-background 20px);
  font-size: 18px;
  box-shadow: 1px 1px 2px $black;
  box-shadow: 1px 1px 2px rgba($black, 0.3);

  &:hover{
    opacity: 0.8;
    // color: $upsell-colour;
  }
  &:active{
    opacity: 0.7;
  }
}

.upsell-deny{
  margin: 1.5em 0 1em;
 
  text-align: left;
  color: #cb2f71 !important;

  a {
    color: $brand-primary-navy;
    text-decoration: underline;
    @include font-bodyN4;
    font-size: 15px;
  }
}

@media screen and (min-width: $screen-sm){
  .upsell-modal--body{
    width: 720px;
  }
}

@media screen and (max-width: $screen-xs-max){
  .upsell-copy p{
     padding-top: 30px;
  }
}

@media screen and (min-width: $screen-md){
  .upsell-modal--body{
    width: 59%;
    max-width: 790px;
  }
}

@media screen and (max-width: $screen-sm-max){
  .upsell-recommendation{
    max-width: 350px;
    margin: 1.5em auto;
    @include font-bodyN4;
  }
  
  .upsell-modal--body {
    width: 90%;
  }
}

@media screen and (max-width: $screen-lg){
  .upsell-modal--body {
    width: 790px;
  }
}

@media screen and (max-width: 992px){
  .upsell-modal--body {
    width: 90%;
  }
}

@media screen and (max-width: 448px){
  .upsell-modal--body {
    width: 100%;
  }
}

@media screen and (min-width: 678px) and (max-width: 769px){
  .upsell-modal--body {
    width: 60%;
  }
}

@media screen and (min-width: 530px) and (max-width: 678px){
  .upsell-modal--body {
    width: 80%;
  }
}

@media screen and (width: 768px){
  .upsell-modal--body {
    width: 90%;
  }
}

@media screen and (max-width: $screen-xs-max){
  .upsell-container{
    display: block;
  }

  .upsell-cta,
  .upsell-copy{
    display: block;
    width: 101%;
  }


  .upsell-cta{
    font-size: 3em;
    padding-top: 25px;
    padding-top: 25px;
    p {
      @include gotham-fontSize-base;
      @include font-headN4;
    }
  }

  .upsell-copy{
    padding-top: 25px;
    &:after{
      display: none;
    }
  }

  .upsell-title{
    margin-top: 0;
    @include fontSize-large;
  }
  
@media screen and (max-width: $screen-xs-max) {
  .upsell-title--top {
    margin-top: 222px;
  }
  
  .upsell-title{
    @include fontSize(larger);
  }
}
  
@media screen and (max-width: 374px) {
  .upsell-title--top {
    margin-top: 145px;
  }
}

  .upsell-subtitle{
    margin-top: 0.5em;
  }

  .upsell-modal--body{
    max-height: 100%;
    overflow-y: auto;
  }

  button.upsell-modal--close{
    margin: 0;
    text-indent: 0;
    background: none;
    color: $white;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    opacity: 0.4;

    &:hover{
      opacity: 0.6;
    }

    &:active{
      opacity: 0.8;
    }
  }

  .upsell-cta{
    font-size: 1.8em;
    padding: 25px 56px;
  }
  
  .upsell-copy{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    @include fontSize-base;
  }

  .upsell-subtitle{
    //display: none;
    @include fontSize-base;
    margin-top: 0.5em;
    padding-top: 20px;
  }
  .upsell-recommendation{
    margin-top: 15px;
    font-size: 1em;
    text-align: center;
    & > strong {
      color: $brand-primary-alternate;
    }
  }
  .upsell-recommendation--label{
    padding-bottom: 5px;
    min-height: 3.2em;
    @include font-bodyN4;
    line-height: 1.3;
  }
  .upsell-confirm{
    padding: 0.5em;
  }
  .upsell-deny{
    margin: 2em 0 0;
    text-align: center;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1311px) { 
  .upsell-recommendation--label {
    padding: 10px 32px;
  }
}

@media screen and (max-width: 858px) { 
  .upsell-recommendation--label {
    padding: 10px 25px;
  }
}

@media screen and (max-width: 367px) { 
  .upsell-recommendation--label {
    padding: 10px 4px;
  }
}

//nicer modal positioning for flexbox-supporting browsers
html.flexbox{
  #upsell-modal.in{
    display: flex !important;
    height: 100%;
  }

  .upsell-modal--body{
    margin: auto;
  }
}